<div class="main">

  <div class="table-div">
    <h4>Schablone wählen</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Erstelldatum</th>
        <th *ngIf="isMod" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let template of templates; let i = index" class="list-row">
        <th class="text" scope="row">{{i+1}}</th>
        <td class="text"><a style="text-decoration: none;"
                            [routerLink]="['/', 'main', template._id]">{{template.name}}</a></td>
        <td class="text">{{displayDate(template.timestamp)}}</td>
        <td *ngIf="isMod" >
          <button class="btn btn-secondary ml-3 disabled" [routerLink]="['/', 'edit', template.name]">
            Edit
          </button>
          <button class="btn btn-danger ml-3" style="margin-left: 10px;" (click)="removeAlert(template._id, template.name)">
            Entfernen
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-container *ngIf="templates.length === 0">
      Es wurde noch nichts hochgeladen
    </ng-container>
  </div>

  <div *ngIf="isMod" class="buttons">
    <button class="btn btn-outline-primary" (click)="openUploadDialog()">Schablone hochladen</button>
    <button class="btn btn-outline-primary disabled">Neue Schablone erstellen</button>
  </div>

</div>
