$border-color: hsl(200, 70%, 80%);
$background-color: hsl(202, 73%, 96%);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  display: inline-grid;
  color: black;
  overflow: hidden;
}

.leftHalf{
  grid-area: buttons;
  padding-top: 5px;
  padding-right: 5px;
  width: 100%;
  float: right;
}
.btn{
  margin-left: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.flex-container-default{
  position: fixed;
  top: 145px;
  display: grid;
  height: 100%;
  overflow: auto;
  grid-template-columns: 0 85% 0;
  grid-template-areas: "list details";
}

#inner_fixed{
  z-index: 0;
  margin-bottom: 1px;
}

#inner_remaining {
  flex-grow : 1;
  z-index: 100;
  overflow-y: auto;
  overflow-x: auto;
}
.mat-button{
  font-weight: bold;
  font-size: small;
  background: #2c40aa;
  margin-left: 10px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.flex-container-expand{
  display: grid;
  grid-template-columns: 9% 79% 12%;
  grid-template-areas: "list details report";
}

.spacer-div{
  height: 64px;
  flex-shrink: 0;
}

::ng-deep .mat-toolbar{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field{
  width: 100%;
  overflow: hidden;
}

// Everything below the header

// Content: Grid for Report and Options components

.mat-selection-list{
  width: 10%;
  min-height: 100%;
  height: auto;
  float: left;
  overflow-y: auto;
  overflow-x: auto;
  border-right: 1px solid #3f51b5;
}

.mat-list-item {
  font-size: 120%;
}

.options-expand{
  min-height: 100%;
  height: fit-content;
  width: 23%;
  overflow: auto;
  border-right: 1px solid #3f51b5;
}

.inline-image-display {
  height: 100%;
  width: 64%;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
