<div class="main">
  <div class="header">
    <div class="buttons">
      <button id="back" title="Go back to list"
              [routerLink]="['/', 'radiolearn', 'list']"
              class="btn btn-outline-primary">Zurück zur Liste</button>
      <button id="next" title="Go back to list"
              (click)="next()"
              class="btn btn-outline-primary">Nächste Aufnahme</button>
      <button id="submit" title="Änderungen speichern"
              (click)="submit()"
              class="btn btn-primary">Abschicken</button>
      <button id="open-images"
              (click)="openImagePopout()"
              class="btn btn-outline-primary float-end">Bilder anzeigen</button>
      <button id="normal-button"
              (click)="makeNormal()"
              class="btn btn-outline-primary float-end">Rest normal</button>

    </div>
  </div>

  <div class="content" *ngIf="categories">
    <app-report class="report" [report]="report" [judgement]="judgement"></app-report>
    <app-options class="options" (clickEvent)="onClick()" [categories]="categories"></app-options>
  </div>
</div>
