<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_fixed">
    <mat-toolbar class="toolbar" color="primary">
      <button mat-button class="header-button" style="font-size: 18px;" (click)='back()'>
        <mat-icon>arrow_back_ios</mat-icon>
        RadioLearn
      </button>
      <span *ngIf="isMod">{{this.material.scans.mainScan.filename.substring(0,25)}}</span>
      <span class="spacer"></span>
      <button mat-button class="header-button" id="userMode" *ngIf="isAdmin"
              (click)="toggleUserMode()">
        <ng-container *ngIf="userMode">Nutzer: Student</ng-container>
        <ng-container *ngIf="!userMode">Nutzer: Arzt</ng-container>
      </button>
      <button *ngIf="isMod" mat-button class="header-button" id="detailedMode"
              (click)="switchMode()">
        <ng-container *ngIf="detailedMode">Modus: Dokumentation</ng-container>
        <ng-container *ngIf="!detailedMode">Modus: Diagnose</ng-container>
      </button>
      <button *ngIf="detailedMode" mat-button class="header-button" id="normal-btn"
              matTooltip="Restliche Kategorien als unauffällig markieren"
              (click)="makeNormal()">Rest normal
      </button>
      <button mat-button class="header-button" id="check" matTooltip="Eingaben überprüfen"
              (click)="check()"><mat-icon>checklist_rtl</mat-icon> Überprüfen
      </button>
      <button *ngIf="isMod" mat-button class="header-button" id="save" matTooltip="Speichern"
              (click)="save()"><mat-icon>save</mat-icon>
      </button>
      <button mat-button class="header-button" id="next" matTooltip="Nächste Aufnahme"
              (click)="next()"><mat-icon>navigate_next</mat-icon></button>
      <button mat-button class="header-button" id="feedback" matTooltip="Feedback geben"
              (click)="feedbackModal()"><mat-icon>feedback</mat-icon></button>

    </mat-toolbar>

  </div>

  <div *ngIf="detailedMode" class="inner_remaining">
    <mat-selection-list *ngIf="this.categories"
                        class="catSelectionList"
                        (selectionChange)="onSelect($event)"
                        [ngStyle]="{'width.%': userMode ? 12 : 9}"
                        [multiple]="false" [(ngModel)]="selectedCatList">
      <ng-container *ngFor="let cat of categories">
        <mat-list-option [value]="cat.name"
                         [selected]="cat.name === this.selectedCat">
          {{cat.name}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>

    <app-radiolearn-options [ngStyle]="{'width.%': userMode ? 35 : 25}"
                            [selectedCat]="selectedCat"
                            (nextCat)="nextCategory($event)"
                            class="options-expand"
                            [categories]="categories">
    </app-radiolearn-options>

    <app-image-display *ngIf="material && !userMode && isMod"
                       [scans]="material.scans"
                       [annotations]="material.annotations"></app-image-display>

    <app-image-display-student *ngIf="material && userMode"
                               [scans]="material.scans"
                               [annotations]="material.annotations"></app-image-display-student>
  </div>

  <div *ngIf="!detailedMode" class="inner_remaining">
    <mat-selection-list *ngIf="this.pathologyList"
                        class="pathSelectionList"
                        [(ngModel)]="selectedPathologies"
                        [multiple]="true">
      <ng-container *ngFor="let pathology of pathologyList; let i = index">
        <mat-list-option *ngIf="pathology.name !== 'Instrumentierung'"
                         class="mat-primary"
                         [ngClass]="{'mat-warn mat-background-warn': !correctPathologies[i]}"
                         [value]="pathology.name">
          {{pathology.name}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>

    <app-image-display *ngIf="material && !userMode && isMod"
                       [scans]="material.scans"
                       [annotations]="material.annotations"></app-image-display>

    <app-image-display-student *ngIf="material && userMode"
                               [scans]="material.scans"
                               [annotations]="material.annotations"></app-image-display-student>
  </div>

</div>
</body>
</html>

