<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_fixed">
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['/', 'radiolearn', 'list']">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span [routerLink]="['/', 'radiolearn', 'list']" style="font-size: 22px; cursor: pointer">RadioLearn</span>
      <span class="spacer"></span>
      <button mat-button id="normal-btn"
              (click)="makeNormal()">Rest normal
      </button>
      <button mat-button id="userMode" *ngIf="isMod"
              (click)="toggleUserMode()">Toggle UserMode
      </button>
      <button mat-button id="detailedMode"
              (click)="switchMode()">
        <ng-container *ngIf="detailedMode">Dokumentationsmodus</ng-container>
        <ng-container *ngIf="!detailedMode">Diagnosemodus</ng-container>
      </button>
      <button mat-button id="feedback"
              (click)="feedbackModal()">Feedback</button>
      <button mat-button id="check"
              (click)="check()">Prüfen
      </button>
      <button *ngIf="isMod" mat-button id="save"
              (click)="save()">Speichern
      </button>
      <button mat-button id="next"
              (click)="next()">Nächste Aufnahme</button>
    </mat-toolbar>

  </div>

  <div *ngIf="detailedMode" class="inner_remaining">
    <mat-selection-list *ngIf="this.categories"
                        class="catSelectionList"
                        (selectionChange)="onSelect($event)"
                        [ngStyle]="{'width.%': userMode ? 12 : 9}"
                        [multiple]="false" [(ngModel)]="selectedCatList">
      <ng-container *ngFor="let cat of categories">
        <mat-list-option [value]="cat.name"
                         [selected]="cat.name === this.selectedCat">
          {{cat.name}}
        </mat-list-option>
      </ng-container>
      <!--<mat-list-option value="report" (click)="updateText()">Bericht</mat-list-option>-->
    </mat-selection-list>

    <app-radiolearn-options [ngStyle]="{'width.%': userMode ? 35 : 25}"
                            [selectedCat]="selectedCat"
                            (nextCat)="nextCategory($event)"
                            class="options-expand"
                            [categories]="categories">
    </app-radiolearn-options>
    <!--<app-report  class="report" [report]="report" [judgement]="judgement"></app-report>-->

    <app-image-display *ngIf="material && !userMode && isMod"
                       [scans]="material.scans"
                       [annotations]="material.annotations"></app-image-display>

    <app-image-display-student *ngIf="material && userMode"
                               [scans]="material.scans"
                               [annotations]="material.annotations"></app-image-display-student>
  </div>

  <div *ngIf="!detailedMode" class="inner_remaining">
    <mat-selection-list *ngIf="this.pathologyList"
                        class="pathSelectionList"
                        [(ngModel)]="selectedPathologies"
                        [multiple]="true">
      <ng-container *ngFor="let pathology of pathologyList; let i = index">
        <mat-list-option *ngIf="pathology.name !== 'Instrumentierung'"
                         class="mat-primary"
                         [ngClass]="{'mat-warn mat-background-warn': !correctPathologies[i]}"
                         [value]="pathology.name">
          {{pathology.name}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>

    <app-image-display *ngIf="material && !userMode && isMod"
                       [scans]="material.scans"
                       [annotations]="material.annotations"></app-image-display>

    <app-image-display-student *ngIf="material && userMode"
                               [scans]="material.scans"
                               [annotations]="material.annotations"></app-image-display-student>
  </div>

</div>
</body>
</html>

