<div mat-dialog-title>
<h5>{{data['parentText']}}</h5>
</div>
<mat-divider></mat-divider>
<mat-dialog-content [formGroup]="form">
  {{data['textBefore']}}
    <mat-form-field *ngIf="data.kind === 'text'">
      <input matInput type="text" formControlName="text">
    </mat-form-field>
    <mat-form-field *ngIf="data.kind === 'number'">
      <input matInput type="number" formControlName="number">
    </mat-form-field>
    <mat-form-field *ngIf="data.kind === 'date'">
      <input matInput type="text" ngbDatepicker #d="ngbDatepicker" container="body"
             (click)="d.toggle()" formControlName="date" readonly/>
    </mat-form-field>
    <ng-container *ngIf="data.kind === 'ratio'">
      <mat-form-field>
        <input #numerator matInput type="number" formControlName="numerator"/>
      </mat-form-field> /
      <mat-form-field>
        <input #denominator matInput type="number" formControlName="denominator"/>
      </mat-form-field>
      = {{displayQuotient(numerator.value, denominator.value)}}
    </ng-container>
  {{data['textAfter']}}

</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions class="buttons">
  <button mat-raised-button (click)="save()">Speichern</button>
  <button mat-button (click)="close()">Schließen</button>
</mat-dialog-actions>
