td.mandatory{
  font-size: 140%;
  font-weight: bold;
  // padding: 10px;
  // margin: 10px;
  vertical-align: top;
  position: relative;
  top: -1px;
  max-width: 10px;
  *overflow: hidden;
  color: black;
}

td.optional {
  font-size: 140%;
  font-weight: bold;
  // padding: 10px;
  // margin: 10px;
  vertical-align: top;
  position: relative;
  top: -1px;
  color: grey;
  *overflow: hidden;
}

td.box {
  width: 13px;
  height: 13px;
  //padding: 0;
  //margin:0;
  vertical-align: text-top;
  position: relative;
  top: -1px;
  *overflow: hidden;
  color: black;
}

td.title0 {
  color: black;
  font-size: 95%;
  display: block;
  position: relative;
  //max-width: 250px;
  word-wrap: break-word;
  //padding-left: 0px;
  //text-indent: 0px;
}

.link {
  padding: 0;
  font-size: 90%;
  background: none;
  border: none;
  white-space: pre-line;
  max-width: 300px;
  word-wrap: break-word;
  color: black;
}

.link.active {
  background: greenyellow;
  text-decoration: none;
}
