<div class="card">
    <h4 class="card-header">Passwort ändern</h4>
    <div class="card-body">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="password">Altes Passwort</label>
          <input id="password" type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Altes Passwort ist erforderlich</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">Neues Passwort</label>
          <input id="newPassword" type="password" formControlName="newPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">Neues Passwort ist erforderlich</div>
            <div *ngIf="f.newPassword.errors.minlength">Neues Passwort muss mindestens 6 Zeichen lang sein</div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPass">Neues Passwort bestätigen</label>
          <input id="confirmPass" type="password" formControlName="confirmPass" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }"/>
          <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPass.errors.required">Neues Passwort bestätigen ist erforderlich</div>
            <div *ngIf="f.confirmPass.errors.mustMatch">Passwörter stimmen nicht überein</div>
          </div>
        </div>
        <div class="form-group">
          <button style="float:right" class="btn btn-primary">Abschicken</button>
        </div>
      </form>
    </div>
    <div *ngIf="error" class="card-footer">
      <div class="alert alert-danger mt-3">{{error}}</div>
    </div>
</div>
