<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <div *ngFor="let option of this.group.options; let i = index; trackBy: trackByFn">
    <mat-form-field style="width: 60%;">
      <input placeholder="Option {{i+1}}" matInput #inputField [(ngModel)]="option.name">
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left: 10px"
            (click)="openListVariablesDialog(inputField.value)" disabled="{{inputField.value.length == 0}}">Variablen
      verwalten ({{option.variables.length}})
    </button>
    <button *ngIf="i > 1" mat-icon-button (click)="removeField(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="primary" (click)="addTextField()" style="margin-bottom: 30px">+ Option hinzufügen</button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onConfirm()"
          disabled="{{!checkAtLeastTwoFilled()}}">Bestätigen
  </button>
</mat-dialog-actions>
