.all-correct {
  font-weight: bold;
  font-size: large;
  background-color: #00784a;
}

.italic-font {
  font-style: italic;
}

.table-div {
  margin: 10px;
}

.fixed-width {
  width: 60px;
}

.great-success {
  background-color: #228B22;
}
