$border-color: hsl(200, 70%, 80%);
$background-color: hsl(202, 73%, 96%);

.header {
  margin-bottom: 10px;
}

#cancelButton {
  margin-left: 5px;
}

.uniform-width {
  width: 60%;
}

.leftMargins {
  margin-left: 25px;
}

