# IDE
/.idea

# backend
/backend/node_modules
/backend/data
/backend/dist

# frontend
# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules

# cache
/frontend/.angular/cache