$border-color: hsl(200, 70%, 80%);
$background-color: hsl(202, 73%, 96%);

.uploadForm {
  background: $background-color;
  border: 1px solid $border-color;
  padding: 20px;
}

.files {
  display:grid;
  grid-template-columns: max-content;
  grid-gap:5px;
}

label:hover {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

label:active {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

td.box {
  vertical-align: text-top;
  position: relative;
  top: 1px;
  bottom: -2px;
  color: black;
  padding-right: 5px;
}

td.label {
  min-width: 200px;
}

td.button {
  min-width: 150px;
}

td.text {
  min-width: 50px;
}
