<form [formGroup]="uploadForm" (ngSubmit)="submit()">
  <table class="settings">
    <tr>
      <td><label class="mr-3" for="mainScans">Frontalaufnahme(n): </label></td>
      <td><input class="mr-3" type="file" multiple="multiple" id="mainScans"
                 formControlName="mainFiles"
                 (change)="onFileSelect($event, 'mainScans')"/></td>
    </tr>
    <tr>
      <td><label class="mr-3" for="lateralScans">Lateralaufnahme(n): </label></td>
      <td><input class="mr-3" type="file" multiple="multiple" id="lateralScans"
                 formControlName="lateralFiles"
                 (change)="onFileSelect($event,'lateralScans')"/></td>
    </tr>
    <tr>
      <td><label class="mr-3" for="preImageFile">Voraufnahme(n): </label></td>
      <td><input class="mr-3" type="file" multiple="multiple" id="preImageFile"
                 formControlName="preFiles"
                 (change)="onFileSelect($event,'preScans')"/>
      </td>
    </tr>

    <tr><h5>Schablone auswählen:</h5></tr>
    <tr *ngFor="let template of templates">
      <td class="box"><input type="radio" id="{{template.id}}" formControlName="parts"
                             value="{{stringify(template.parts)}}"></td>
      <td class="title"><label for="{{template.id}}">{{template.name}}</label></td>
    </tr>

    <tr>
      <td>
        <button class="btn btn-primary" type="submit" [disabled]="disableSubmit || uploadForm.invalid">Hochladen</button>
      </td>
    </tr>

  </table>
</form>
