<div mat-dialog-title class="header">
  <h4>Aufnahmen hochladen</h4>
</div>

<mat-divider></mat-divider>

<mat-dialog-content class="uploadForm" [formGroup]="uploadForm" (ngSubmit)="submit()">
    <table class="files">
      <tr>
        <td class="label"><label class="mr-3" for="identifier">Identifier: </label></td>
        <td class="button"><input type="text" id="identifier"></td>
      </tr>
      <tr>
        <td class="label"><label class="mr-3" for="mainScans">Frontalaufnahme(n): </label></td>
        <td class="button">
          <button type="button" class="btn btn-outline-primary" (click)="fileInput1.click()">Datei(en) auswählen</button>
          <input hidden class="mr-3" type="file" multiple="multiple" id="mainScans"
                 formControlName="mainFiles" #fileInput1
                 (change)="onFileSelect($event, 'mainScans')"/></td>
      </tr>
      <tr>
        <td class="label"><label class="mr-3" for="lateralScans">Lateralaufnahme(n): </label></td>
        <td class="button">
          <button type="button" class="btn btn-outline-primary" (click)="fileInput2.click()">Datei(en) auswählen</button>
          <input hidden type="file" multiple="multiple" id="lateralScans"
                 formControlName="lateralFiles" #fileInput2
                 (change)="onFileSelect($event,'lateralScans')"/></td>
      </tr>
      <tr>
        <td class="label"><label class="mr-3" for="preImageFile">Voraufnahme(n): </label></td>
        <td class="button">
          <button type="button" class="btn btn-outline-primary" (click)="fileInput3.click()">Datei(en) auswählen</button>
          <input hidden type="file" multiple="multiple" id="preImageFile"
                 formControlName="preFiles" #fileInput3
                 (change)="onFileSelect($event,'preScans')"/>
        </td>
        <td class="button"><select id="preImageFiles" name="preImageFiles">

        </select></td>
      </tr>
    </table>

    <mat-divider></mat-divider>

  <div class="templateSelect">
    <h5>Schablone auswählen:</h5>
    <mat-radio-group class="verticalRadioGroup" formControlName="parts">
      <ng-container *ngFor="let template of templates">
        <mat-radio-button style="font-size: 120%" value="{{stringify(template.parts)}}">
          {{template.name}}
        </mat-radio-button>
      </ng-container>
    </mat-radio-group>
  </div>

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions class="buttons">
  <button type="submit" id="submitButton" class="btn btn-primary"
          [disabled]="disableSubmit || uploadForm.invalid"
          (click)="submit()">Hochladen</button>
  <button id="cancelButton" class="btn btn-outline-secondary" (click)="close()">Abbrechen</button>
</mat-dialog-actions>


