<div><h1>Befundbericht vom {{date}}</h1></div>
<table border="1">
  <tbody>
    <tr>
      <td><h5>Bild</h5></td>
      <td><h5>Freitext</h5></td>
      <td><h5>Textbefund</h5></td>
    </tr>
    <ng-container *ngFor="let img of imgUrls; let i=index">
      <tr>
        <td><img [src]="img" height="400" alt="Kein Bild gefunden"></td>
        <td style="white-space: pre-line">{{freetext[i]}}</td>
        <td style="white-space: pre-line">{{reports[i]}}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
