<div class="header" *ngIf="!isMobile">
  <div class="row">
    <h1>Willkommen zu RadioLearn</h1>
    <div class="text-container">
      Sie haben die Auswahl zwischen drei Lernmodi. In allen Modi sehen Sie Röntgenaufnahmen und
      sollen den zugehörigen Fragebogen ausfüllen, oder Auffälligkeiten in der Aufnahme markieren.

      Mit einem Klick auf "Überprüfen" können Sie ihre Eingaben mit der Lösung vergleichen und sehen auf den Aufnahmen
      nun zusätzliche Informationen in Form von Boxen.
    </div>
  </div>
</div>
<div class="container body" *ngIf="!isMobile" style="max-width: fit-content; margin-right: 80px; margin-left: 80px">
  <div class="row">
    <div class="col-sm">
      <div class="button-container">
        <button class="custom-button" mat-raised-button color="primary" (click)="deepMode()">Dokumentationsmodus</button>
      </div>
      <div class="text-container">
        In diesem Modus klicken Sie sich durch eine <b>detaillierte Befundungs-Schablone</b> aus dem Alltag.

        Dieser Modus ist für längere Lern-Sessions gedacht und am besten für
        die Nutzung an <b>PC</b> und <b>Laptop</b> geeignet.
      </div>
      <div class="img-container">
        <img src="{{assetsUrl}}Dokumentation.png" width="100%" alt="Dokumentationsmodus" (click)="deepMode()" style="border: 1px solid grey;">
      </div>
    </div>
    <div class="col-sm">
      <div class="button-container">
        <button class="custom-button" mat-raised-button color="primary" (click)="shallowMode()">Diagnosemodus</button>
      </div>
      <div class="text-container">
        Dies ist ein <b>vereinfachter Modus</b>, in dem Sie nur kurze Diagnosen durchführen sollen.

        Dieser Modus ist für kürzere Sessions zwischendurch gedacht und am besten
        für die Nutzung am <b>Handy</b> geeignet.
      </div>
      <div class="img-container">
        <img src="{{assetsUrl}}Diagnose.png" width="100%" alt="Diagnosemodus" (click)="shallowMode()" style="border: 1px solid grey;">
      </div>
    </div>
    <div class="col-sm">
      <div class="button-container">
        <button class="custom-button" mat-raised-button color="primary" (click)="annotationMode()">Annotationsmodus</button>
      </div>
      <div class="text-container">
        In diesem Modus liegt der Fokus darauf, Auffälligkeiten <b>mit einer Box zu markieren</b>, und mit der richtigen Diagnosen zu annotieren.

        Dieser Modus ist am besten für die Nutzung am <b>PC</b> geeignet.
      </div>
      <div class="img-container">
        <img src="{{assetsUrl}}Annotation.png" width="100%" alt="Diagnosemodus" (click)="annotationMode()" style="border: 1px solid grey;">
      </div>
    </div>
  </div>
</div>


<div class="header" *ngIf="isMobile">
  <div class="row">
    <h2>Willkommen zu RadioLearn</h2>
    <div class="text-container" style="margin: 0">
      Sie haben die Auswahl zwischen zwei Lernmodi. In beiden Modi sehen Sie Röntgenaufnahmen und
      sollen den zugehörigen Fragebogen ausfüllen.

      Mit einem Klick auf "Überprüfen" können Sie ihre Eingaben prüfen und die Lösung einsehen.
    </div>
  </div>
</div>
<div class="container body" *ngIf="isMobile">
  <div class="row">
    <div class="button-container">
      <button class="custom-button" mat-raised-button color="primary" (click)="shallowMode()">Diagnosemodus</button>
    </div>
    <div class="text-container" style="margin: unset; padding-top: 5px">
      Dies ist ein <b>vereinfachter Modus</b>, in dem Sie nur kurze Diagnosen durchführen sollen.

      Dieser Modus ist für kürzere Sessions zwischendurch gedacht und am besten
      für die Nutzung am <b>Handy</b> geeignet.
    </div>
    <div class="img-container">
      <img src="{{assetsUrl}}DiagnoseMobile.png" width="100%" alt="Diagnosemodus" (click)="shallowMode()">
    </div>
  </div>
</div>
