<div class="main">
  <div class="col-md-5">
    <app-sign-up></app-sign-up>
  </div>

  <div class="col-md-5 mt-4">
    <div class="card">
      <h4 class="card-header">User List</h4>
      <div class="card-body">
        <table>
          <tr>
            <th class="text">Username</th>
            <th class="text">Rolle</th>
            <th class="text">Rolle ändern</th>
            <th class="text">Löschen</th>
          </tr>
          <tr *ngFor="let user of users">
            <td class="text">{{user.username}}</td>
            <td class="text">{{user.role}}</td>
            <td class="button">
              <button [disabled]="user.username === 'Amar'"
                      mat-flat-button color="primary" (click)="changeRole(user.id)">Rolle Ändern</button>
            </td>
            <td class="button">
              <button mat-flat-button color="warn" (click)="deleteUser(user.id)">Löschen</button>
            </td>
          </tr>
        </table>
        <div class="form-group">
          <button style="float:right" mat-flat-button color="primary" (click)="getUserList()">Liste neu laden</button>
        </div>
      </div>
      <div *ngIf="users === undefined">
        Keine User vorhanden
      </div>
    </div>
  </div>
</div>

