<div class="user-list">
  <h4>User List</h4>
  <table>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <!--<td>
        <button class="btn btn-outline-primary" (click)="changeRole(user.id)"></button>
      </td>-->
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.id)">Löschen</button>
      </td>
    </tr>
  </table>
  <div *ngIf="users === undefined">
    Keine User vorhanden
  </div>
</div>

<app-sign-up></app-sign-up>
