<table class="variables">
  <ng-container *ngFor="let variable of this.variables">
    <tr>
    <td *ngIf="variable.kind === 'oc'">

	      <ng-container *ngFor="let val of variable.values">
		    <input type="radio" id="{{variable.id}}+{{val}}"  name="{{variable.id}}" [value]="val" [(ngModel)]="variable.value"/>
          <label for="{{variable.id}}+{{val}}">{{val}}</label>
	      </ng-container>
    </td>
    <!--
    <td *ngIf="variable.kind === 'mc'">
	      <span *ngFor="let vv of variable.values">
		<input type="checkbox" name="{{variable.id}}" [value]="vv[0]" [(ngModel)]="vv[1]"/> {{vv[0]}}
	      </span>
    </td>
    <td *ngIf="variable.kind === 'text'">
      <span>Text Platzhalter</span>
      <input type="text" [(ngModel)]="v.value"/>
    </td>
    <td *ngIf="variable.kind === 'number'">
      <span>Number-Platzhalter</span>
      <input type="number" class="w-100" [(ngModel)]="v.value"/>
    </td>
    <td *ngIf="variable.kind === 'date'">
      <span>Datum-Platzhalter</span>
      <ngb-datepicker [(ngModel)]="v.value"></ngb-datepicker>
    </td>
    <td *ngIf="variable.kind === 'ratio'">
      <input type="number" [(ngModel)]="variable.numerator" /> / <input type="number" [(ngModel)]="variable.denominator" />
    </td>
    <td class="text-left">{{variable.textAfter}}</td>
    -->
    </tr>
  </ng-container>
</table>
