<table class="variables">
  <tr *ngFor="let v of this.variables">
    <td class="text-right">{{v.textBefore}}</td>
    <td *ngIf="v.kind === 'oc'">
	      <span *ngFor="let vv of v.values">
		<input type="radio" name="{{v.id}}" [value]="vv" [(ngModel)]="v.value"/> {{vv}}
	      </span>
    </td>
    <td *ngIf="v.kind === 'mc'">
	      <span *ngFor="let vv of v.values">
		<input type="checkbox" name="{{v.id}}" [value]="vv[0]" [(ngModel)]="vv[1]"/> {{vv[0]}}
	      </span>
    </td>
    <td *ngIf="v.kind === 'text'">
      <input type="text" [(ngModel)]="v.value"/>
    </td>
    <td *ngIf="v.kind === 'number'">
      <input type="number" class="w-100" [(ngModel)]="v.value"/>
    </td>
    <td *ngIf="v.kind === 'date'">
      <span>Hier kommt eine Datumsauswahl hin</span>
      <!--<ngb-datepicker [(ngModel)]="v.value"></ngb-datepicker>-->
    </td>
    <td *ngIf="v.kind === 'ratio'">
      <input type="number" [(ngModel)]="v.numerator" /> / <input type="number" [(ngModel)]="v.denominator" />
    </td>
    <td class="text-left">{{v.textAfter}}</td>
  </tr>
</table>
