<div mat-dialog-title class="header">
  <h4>Aufnahme ersetzen</h4>
</div>

<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="fileForm" (ngSubmit)="submit()" class="form">

  <div>Bitte Aufnahme auswählen:</div>

  <button mat-stroked-button color="primary" (click)="fileInput1.click()">Datei auswählen</button>
  <input hidden class="mr-3" type="file" multiple="single" id="mainScans" #fileInput1
         (change)="onFileSelect($event)"/>
  <div *ngIf="this.fileForm.get('newScan').value !== null">{{this.fileForm.get('newScan').value.name}}</div>

  <ng-container *ngIf="uploading && message !== null">
    <div class="alert alert-danger">{{message}}</div>
    <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
  </ng-container>

</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions class="buttons float-end">
  <button type="submit" id="submitButton" mat-raised-button color="primary"
          [disabled]="fileForm.invalid"
          (click)="submit()">Hochladen</button>
  <button id="cancelButton" mat-raised-button (click)="close()">Schließen</button>
</mat-dialog-actions>
