<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content style="width: 100%">
  <mat-form-field style="width: 100%">
    <input placeholder="Name" matInput #inputField style="width: 100%" [(ngModel)]="inputValue">
  </mat-form-field>
</mat-dialog-content>
<p style="color: red" *ngIf="categoryAlreadyExists()">Diese Kategorie existiert bereits.</p>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="!validCategoryName()">Bestätigen</button>
</mat-dialog-actions>
