$border-color: hsl(200, 70%, 80);
.main {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-gap: 10px;
  //grid-template-columns: 500px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "headline headline"
    "content  content"
    "content  content"
    "content  content"
    "content  content";

  grid-template-rows: auto 1fr;
  overflow-y: scroll;

}
.row{
  margin-left: 0px;
  margin-bottom: 10px;
  border: solid rgba($color: lightgrey, $alpha: 0.4);
}


table { 
  width: 100%; 
}
.col-3{
  flex: 0 0 19%;
  max-width: 25%;
}
table td { 
  width: 1px; 
  white-space: nowrap;
} /* min width, actually: this causes the width to fit the content */
table td:last-child { 
  width: 100%;
  box-sizing: content-box;
} /* well, it's less than 100% in the end, but this still works for me */
.report {
  height: 100%;
  width: 100%;
  display: inline-grid;
  grid-gap: 10px;
  //grid-template-columns: 500px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "headline headline"
    "bf-text  content"
    "bf-text  content"
    "bf-text  content"
    "bf-but  content";

  grid-template-rows: auto 3fr auto 1fr auto;
  overflow-y: scroll;

}
.esFehlen{
  color: red;
}
td span{
  background-color: red;
}
.missingDis{
 // text-decoration: underline;
  font-style: italic;
  font-size: 1.2em;
  background-color: yellowgreen;
  font-weight: bold;;
}
.missingDis:not(span.missingCat){
  text-decoration: underline;
}
span.missingCat{
  text-decoration: none!important;
  font-style: normal;
  font-size: 0.9em;
  font-weight: normal;
}
.missing{
  font-size: 1.34em;
  margin-top: 8px;
  float: right;
}

.main.container{
  max-width: 100%;
}
.erledigt{
  background-color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.nichtErledigt{
  background-color: red;
  font-size: 1.2em;
}
.main > div {
  background-color: hsl(200, 70%, 97%);
  padding: 5px;
  /* word-wrap: break-word;
  word-break: break-all; */
}

.headline {
  grid-area: headline;
  font-size: 50%;
  //font-weight: bold;
  //text-align: center;
  border-bottom: 1px solid $border-color;
}

.main-content {
  grid-area: content;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.report-buttons {
  grid-area: bf-but;
  grid-template-columns: 1fr 1fr;
}

.small {
  font-size: 70%;
}

.link {
  padding: 0;
  font-size: 90%;
  background: none;
  border: none;
  white-space: pre-line;
  max-width: 300px;
  word-wrap: break-word;
}

.link.active {
  background: greenyellow;
  text-decoration: none;
}

a.info {
  position: relative;
  z-index: 24;
  color: #000;
  text-decoration: none;
}

a.info:hover {
  z-index: 25;
  background-color: red($color: #190466);
}

a.info span {
  display: none;
}

a.info:hover span {
  display: block;
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 200%;
  border: 1px;
  background-color: #e2df1e;
  color: #000;
  text-align: top;
}

textarea {
  height: 100%;
  grid-area: bf-text;
}


.box {
  width: 13px;
  height: 13px;
  //padding: 0;
  //margin:0;
  vertical-align: text-top;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

.title0 {
  font-size: 95%;
  display: block;
  position: relative;
  //max-width: 250px;
  //word-wrap: break-word;
  //padding-left: 0px;
  //text-indent: 0px;
}

/*tbody>tr>:nth-child(7)
{
  color: red;
  max-width: 80px;
}*/

.category {
  font-size: 140%;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
  position: relative;
  top: -1px;
  max-width: 10px;
  word-wrap: break-word;
  *overflow: hidden;
}

.disease{
  margin: 0 1px;
  font-size: 2.5em;
  font-weight: 700;
  padding-left: 5px;
  margin-top: 3px;
  color: gray;
}

.catrow{
  border-top: solid 2px rgba($color: red, $alpha: 0.5);
}

.cat{
  margin: 0 10px;
  font-size: 2.3em;
  font-weight: 500;
  padding-left: 5px;
  margin-top: 3px;
  color:  #726e6d;
}
.check{
  font-size: 2.2em;
  text-align: center;
  padding:0 5%;
  background-clip: content-box;
}

#normal-button {
  font-weight: bold;
  color: black;
}

img {
  max-width: 180px;
  max-height: 180px;
  position: absolute;
}
input[type="file"] {
  padding: 0px;
  background: none;
}

#inputText{
  font-size: 3em;
}
.pause{
  height: 100%;
  width: 300%;
  background-color: black!important;
  text-align: center;
  font-size: 3em;
  padding-top: 40%!important;
  color: white;
}

div.option{
  margin: 0 5px;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: 500;
  padding-left: 5px;
  margin-top: 5px;

}
span.link{
  text-decoration: none;
  font-style: italic;
  margin: 0 10px;
  color:  #ad2609 ;
  padding-left: 5px;
  font-size: 0.9em;

}

.ende{
  font-size: 1.4em;
}

.mySpinner{
  /* display: flex !important;
  justify-content: center !important;
  align-items: center !important; */
  height: 3rem !important;
  margin-top: 20%;
  width: 3rem !important;
}