<h5 mat-dialog-title>
  {{title}}
</h5>

<div mat-dialog-content class="content">
  <p>{{message}}</p>
</div>


<div mat-dialog-actions class="float-end" *ngIf="type === 'confirm'">
  <button mat-raised-button color="primary" (click)="onConfirm()">Bestätigen</button>
  <button mat-raised-button (click)="onDismiss()">Abbrechen</button>
</div>

<div mat-dialog-actions class="float-end" *ngIf="type === 'warning'">
  <button mat-raised-button color="warn" (click)="onConfirm()">Bestätigen</button>
  <button mat-raised-button color="primary" (click)="onDismiss()">Abbrechen</button>
</div>
