<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
  <div class="spinner-grow mySpinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-container *ngIf="!isLoading">
  <table>
    <tr *ngFor="let template of templates; let i = index" class="list-row">
      <td>
        <ul>
          <li><a [routerLink]="['/', 'main', template.name]">{{template.name}}</a></li>
        </ul>
      </td>
      <td>
        <button class="btn btn-danger ml-3" (click)="removeAlert(template.id)">Entfernen</button>
      </td>
      <!--
      <td>
        <button class="btn btn-secondary ml-3" [routerLink]="['/', 'edit', template.name]">Edit</button>
      </td>-->
    </tr>
  </table>
</ng-container>

<div *ngIf="templates.length === 0 && !isLoading">
  Es wurde noch nichts hochgeladen
</div>
