<!-- This is when you want do add a single variable -->

<div class="row">
  <div class="col-3 mb-2">
    <label for="{{kindID}}">Variablenart</label>
    <select class="form-control" name="{{kindID}}" id="{{kindID}}"
      [(ngModel)]="myAttKind" required>
      <option value="oc">Auswahlvariable</option>
      <option value="text">Textvariable</option>
    </select>
  </div>
  <ng-container *ngIf="myAttKind=='text'">
    <div class="col-3 mb-2">
      <label for="{{tbID}}">Aktivierungstext</label>
      <input class="form-control" type="text" id="{{tbID}}"
        name="{{tbID}}" ngModel required>
    </div>
    <div class="col-3 mb-2">
      <label for="{{unitID}}">Endwort (z.B. Einheit "cm")</label>
      <input class="form-control" type="text" id="{{unitID}}" name="{{unitID}}"
        ngModel required>
    </div>
    <div class="col-3 mb-2">
      <label for="{{taID}}">Text danach (automatisch)</label>
      <input class="form-control" type="text" id="{{taID}}" name="{{taID}}"
        ngModel required>
    </div>
  </ng-container>
  <ng-container *ngIf="myAttKind=='oc'">
    <div class=" col-9 mb-2">
      <label for="{{optionsID}}">Auswahlmöglichkeiten (mit '/' getrennt)</label>
      <input class="form-control" type="text" id="{{optionsID}}"
        name="{{optionsID}}" ngModel required>
    </div>
  </ng-container>
  
</div>
