<mat-toolbar color="primary" class="toolbar" *ngIf="displayNavbar">
  <button mat-icon-button [mat-menu-trigger-for]="menu" class="header-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item class="header-button" routerLink='/radiolearn/list' routerLinkActive="active">Annotation</a>
    <a mat-menu-item class="header-button" routerLink='/list' routerLinkActive="active">Schablonen</a>
    <a mat-menu-item class="header-button" routerLink="/feedback" routerLinkActive="active">Feedback</a>
  </mat-menu>
  <a id="homeButton" mat-button class="header-button" routerLink='/'>
    RadioLearn
  </a>
  <span class="spacer2"></span>

  <a mat-button class="header-button" routerLink="/admin" routerLinkActive="active" *ngIf="(isAdmin)">
    <mat-icon>admin_panel_settings</mat-icon>
  </a>
  <a mat-button class="header-button" routerLink="/manageAccount" routerLinkActive="active">
    <mat-icon>manage_accounts</mat-icon>
  </a>
  <a mat-button class="header-button" style="cursor: pointer;" routerLinkActive="active" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </a>

</mat-toolbar>
