.toolbar {
  padding: 8px 18px;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  height: 60px;
}

.spacer2 {
  flex: 1 1 auto;
}

.spacer1 {
  flex: 0 1 15px;
}

.header-button {
  font-weight: 600;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.header-button:hover {
  background-color: rgba(0,0,0,0.3);
  color: white;
}

.active {
  background-color: rgba(0,0,0,0.2);
}
