td.category{
  font-size: 140%;
  font-weight: bold;
  padding-left: 5px;
  vertical-align: top;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

td.box {
  vertical-align: text-top;
  position: relative;
  top: 1px;
  bottom: -2px;
  *overflow: hidden;
  color: black;
}

td.title {
  font-size: 95%;
  display: block;
  position: relative;
  max-width: 250px;
  min-width: 200px;
  word-wrap: break-word;
}

label.selected {
  background-color: lightblue;
  border-radius: 2px;
}
label:hover {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
label:active {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
