<div class="main">
  <table>
    <tbody>
      <tr *ngFor="let category of parts">
        <td class="category" [ngClass]="category.optional ? 'optional': 'mandatory'"
            id="{{category.name}}">{{category.name}}</td>
        <ng-container *ngFor="let sel of category.selectables" class="col-3">
          <ng-container *ngIf="sel.kind === 'box'">
            <td class="box"> <input type="checkbox" [(ngModel)]="sel.value"
                                    id="{{sel.name}}box" />
            </td>
            <td class="title0" id={{sel.name}}> {{sel.name}}
            </td>
          </ng-container>
          <ng-container *ngIf="sel.kind === 'group'">
            <ng-container *ngFor="let option of sel.options" class="col-3">
              <td class="box"> <input [name]="sel.name "
                                      id="{{option.name}}box" [value]="option.name" type="radio"
                                      [(ngModel)]="sel.value" />
              </td>
              <td class="title0" id={{option.name}}> {{option.name}}
              </td>
            </ng-container>
          </ng-container>
          <table>
            <tr *ngFor="let v of sel.variables" class="link">
              <td *ngIf="v.kind === 'oc'">
                <span *ngFor="let vv of v.values">
                  <input type="radio" name="{{v.id}}" [value]="vv" [(ngModel)]="v.value"/> {{vv}}
                </span>
              </td>
            </tr>
          </table>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
