$background-color: hsl(202, 73%, 97%);
$border-color: hsl(200, 70%, 80);

td.mandatory{
  font-size: 140%;
  font-weight: bold;
  padding-left: 5px;
  // margin: 10px;
  vertical-align: top;
  position: relative;
  top: -1px;
  max-width: 10px;
  *overflow: hidden;
  color: black;
}

td.optional {
  font-size: 140%;
  font-weight: bold;
  padding-left: 5px;
  // margin: 10px;
  vertical-align: top;
  position: relative;
  top: -1px;
  color: grey;
  *overflow: hidden;
}

td.box {
  // width: 13px;
  // height: 13px;
  vertical-align: text-top;
  position: relative;
  top: 1px;
  bottom: -2px;
  *overflow: hidden;
  color: black;
}

td.title {
  color: black;
  font-size: 95%;
  display: block;
  position: relative;
  max-width: 250px;
  word-wrap: break-word;
}

td.radio {
  // TODO: make borders and make them align
  // border-top: 1px solid blue;
  // border-bottom: 1px solid blue;
}

.selected {
  background-color: lightblue;
}

.selected-opt {
  background-color: lightyellow;
}

.radio-group {
  border: 1px solid black;
}
