<form  #f="ngForm">


    <div class="form-group row">

      <!-- DISEASE PART -->
      <ng-container id="allgData" ngModelGroup="allgData">
        <div class="col-4 mb-2">
          <label for="disName">Name der Kategorie</label>
          <input class="form-control" type="text" id="disName" name="disName" ngModel required>
        </div>
        <div class="col-4 mb-2">
          <label for="disCond">Abhängig von Kategorie ..</label>
          <input class="form-control" type="text" id="disCond" name="disCond" ngModel>
        </div>
        <div class="col-2 mb-2">
          <label for="KanzahlAtt">Attribute</label>
          <select class="form-control" name="KanzahlAtt" id="KanzahlAtt" [(ngModel)]="disTyp"
            #Kanzahl="ngModel" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </ng-container>
      <!-- CATEGORY PART -->
    


    </div>
    <button class="btn btn-primary mb-2" type="submit" [disabled]="!f.valid">
      Hinzufügen
    </button>
    <button class="btn btn-danger mb-2">
      Abbrechen
    </button>
  </form>