<div class="main">

  <h4>Aufnahme zum Befunden auswählen</h4>

  <div class="row">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" style="margin-right: 10px;" id="dropdownBasic1" ngbDropdownToggle>Bereits bearbeitete Einträge anzeigen</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="changeQuery(true)">Ja</button>
        <button ngbDropdownItem (click)="changeQuery(false)">Nein</button>
      </div>
      <button class="btn btn-outline-secondary" (click)="reload()" id="reloadButton">Aufnahmen neu Laden</button>
      <button class="btn btn-outline-primary" style="float: right;"
              id="uploadButton" (click)="openUploadDialog()">Aufnahmen hochladen</button>
    </div>
  </div>

  <div class="tableDiv" *ngIf="this.materials.length > 0; else noEntry">
    <table class="listMatTable">
      <tr>
        <th class="body">Frontalaufnahme</th>
        <th class="body">Lateralaufnahme</th>
        <th class="body">Voraufnahme</th>
        <th class="meta">Metadaten</th>
      </tr>
      <tr *ngFor="let material of this.materials">
        <td class="img">
          <img src="{{serverUrl}}{{material.scans.id}}/{{material.scans.mainScan.filename}}"
                             width="200px"
                             alt="Fehler beim Laden der Aufnahme"
          (click)="openEditor(material._id)"/>
          <span>{{material.scans.mainScan.filename}}</span>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.lateralScan !== undefined; else noScan">
            <img src="{{serverUrl}}{{material.scans.id}}/{{material.scans.lateralScan.filename}}"
                               width="200px"
                               alt="Fehler beim Laden der Aufnahme"
                               (click)="openEditor(material._id)"/>
            <span>{{material.scans.lateralScan.filename}}</span>
          </ng-container>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.preScan !== undefined; else noScan">

            <img src="{{serverUrl}}{{material.scans.id}}/{{material.scans.preScan.filename}}"
                               width="200px"
                               alt="Fehler beim Laden der Aufnahme"
                               (click)="openEditor(material._id)"/>
            <span>{{material.scans.preScan.filename}}</span>
          </ng-container>
        </td>
        <td class="meta">
          <table>
            <tr>
              <td class="metadata">Modalität:</td>
              <td>{{material.modality}}</td>
            </tr>
            <tr>
              <td>Template:</td>
              <td>{{material.template.name}}</td>
            </tr>
            <tr>
              <td>Boxen vorhanden in:</td>
              <td>{{checkBoxes(material.coordinates)}}</td>
            </tr>
          </table>
              <button class="btn btn-outline-primary custom-button"
                        (click)="openEditor(material._id)">Start Befundung</button>
          <button class="btn btn-danger custom-button" (click)="delete(material._id, material.scans.id)">Entfernen</button>
        </td>
      </tr>

    </table>
  </div>
</div>

<ng-template #noEntry>
  <div style="padding: 10px;">
    Keine Einträge gefunden.
  </div>
</ng-template>

<ng-template #noScan><td class="text">Keine Aufnahme vorhanden</td></ng-template>


