$border-color: hsl(200, 70%, 80);
$background-color: hsl(202, 73%, 96%);

.main {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  color: black;
  overflow: auto;
}

.header{
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid $border-color;
  height: 9%;
}

.inputWindow{
  padding-top: 5px;
  padding-left: 10px;
  grid-area: inputWindow;
  float: left;
}

.buttons{
  padding-top: 5px;
  padding-right: 5px;
  grid-area: buttons;
  float: right;
}

.btn{
  margin-left: 5px;
}

.inputText{
  grid-area: inputText;
  font-size: 3em;
}

#normal-button {
  font-weight: bold;
  color: black;
}

.content {
  height: 91%;
  background-color: white;
  border: 1px $border-color;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 5px;
  grid-template-areas:
    "report  options";
}

.report{
  grid-area: report;
  height: 98.5%;
  border: 1px solid $border-color;
  margin: 5px;
  background-color: $background-color;
}

.options{
  grid-area: options;
  height: 98.5%;
  width: 99.5%;
  margin-top: 5px;
  border: 1px solid $border-color;
  overflow-y: auto;
  background-color: $background-color;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
