td.box {
  vertical-align: text-top;
  position: relative;
  top: 1px;
  bottom: -2px;
  overflow: hidden;
  color: black;
}

td.title {
  font-size: 95%;
  display: block;
  position: relative;
  width: 200px;
  margin-left: 5px;
  margin-right: 1px;
}

td.variables {
  width: 50%;
}

td.button {
  width: 50%;
}

label.selected {
  background-color: lightblue;
  border-radius: 2px;
}
label:hover {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
label:active {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

.container {
  margin: 20px 0 5px 0;
  padding: 0 20px 0 20px;
}
