td.box {
  position: relative;
  overflow: hidden;
  color: black;
  width: 3%;
  margin-top: -2px;
  vertical-align: top;
}

td.title {
  font-size: 95%;
  position: relative;
  width: 47%;
  vertical-align: top;
  padding-top: 2px;
  word-break: break-word;
}

td.variables {
  width: 50%;
}

label.selected {
  background-color: lightblue;
  border-radius: 2px;
}
label:hover {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
label:active {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

.container {
  margin: 10px 0 5px 0;
  padding: 0 10px 0 10px;
}
