<div class="container" *ngIf="categories">
  <div class="row">
    <div class="col">
      <button mat-flat-button color="primary"
              disabled="{{getSelectedCatIndex() === 0}}"
              (click)="previousCategory()">Zurück
      </button>
    </div>
    <div class="col">
      <button mat-flat-button color="primary" class="float-end"
              disabled="{{getSelectedCatIndex() === (categories.length - 1)}}"
              (click)="nextCategory()">Vor
      </button>
    </div>
  </div>
</div>

<div style="margin: 10px;">
  <table style="width: 100%">
    <tbody style="width: 100%">
    <ng-container *ngFor="let category of categories">
      <ng-container *ngIf="category.name.trim() === selectedCat">
        <ng-container *ngFor="let sel of category.selectables" class="col-3">
          <ng-container *ngIf="sel.kind === 'box'">
            <tr>
              <td class="box">
                <input type="checkbox" [(ngModel)]="sel.value"
                       (click)="this.dataParser.updateFromBox(sel, this.updateEmitter, category, undefined, undefined)" id="{{category.name}} {{sel.name}} box"/>
              </td>
              <td class="title">
                <label [ngClass]="{'selected': sel.value}"
                       [ngStyle]="{'border' : category.name + ' ' + sel.name == selectedSelectableID ? '3px solid red' : '3px solid transparent'}"
                       for="{{category.name}} {{sel.name}} box">
                  {{sel.name}}
                </label>
              </td>
              <td class="variables">
                <app-variables *ngIf="sel.variables.length > 0"
                               (clickEvent)="this.dataParser.updateFromVariable(sel, this.updateEmitter, undefined, undefined, undefined)"
                               [variables]="sel.variables"
                               [parentText]="sel.name"
                               [radiolearn]="true"
                               [parentActive]="sel.value" [currentLayout]="0"></app-variables>
              </td>
            </tr>
          </ng-container>

          <ng-container *ngIf="sel.kind === 'group'">
            <ng-container *ngFor="let option of sel.options">
              <tr>
                <td class="box">
                  <input type="radio"
                         id="{{category.name}} {{sel.name + option.name}} box"
                         (click)="this.dataParser.updateFromGroup(option.name, this.updateEmitter, sel, undefined, undefined, undefined)"
                         [name]="sel.name"
                         [value]="option.name"
                         [(ngModel)]="sel.value"/>
                </td>
                <td class="title">
                  <label for="{{category.name}} {{sel.name + option.name}} box"
                         [ngStyle]="{'border' : category.name + ' ' + option.name == selectedSelectableID ? '3px solid red' : '3px solid transparent'}"
                         [ngClass]="{'selected': (option.name === sel.value)}">
                    {{option.name}}
                  </label>
                </td>
                <td>
                  <app-variables *ngIf="option.variables.length > 0"
                                 (clickEvent)="this.dataParser.updateFromVariable(option, this.updateEmitter, sel, undefined, undefined)"
                                 [variables]="option.variables"
                                 [parentText]="option.name"
                                 [radiolearn]="true"
                                 [parentActive]="option.name === sel.value" [currentLayout]="0"></app-variables>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>

