<div style="background: hsl(202, 73%, 96%); padding: 5px; border-radius: 5px; border: 1px solid hsl(200, 70%, 80%);
            grid-column-gap: 5px; grid-template-columns: 350px 900px 500px;
            display: grid; align-content: center; overflow: scroll; height: 100%">
  <div style="display: block; margin: 20px;">
    <div>
      <button class="btn"
              style="width: 90px; margin: 2px; padding: 10px;"
              [ngClass]="{'btn-warning': (this.displayBoxes && this.boxDisplayConfirmed && this.annotations.main.length > 0
            && this.currentMode !== 'main'),
            'btn-primary': this.currentMode === 'main',
            'btn-outline-primary': this.currentMode !== 'main'}"
              (click)="this.changeMode('main')">Haupt
      </button>
      <button class="btn"
              style="width: 90px; margin: 2px; padding: 10px;"
              [ngClass]="{'btn-warning': (this.displayBoxes && this.boxDisplayConfirmed &&
              this.annotations.lateral.length > 0
            && this.currentMode !== 'lateral'),
            'btn-primary': this.currentMode === 'lateral',
            'btn-outline-primary': this.currentMode !== 'lateral'}"
              (click)="this.changeMode('lateral')"
              [disabled]="this.scans.lateralScan === undefined">Lateral
      </button>
      <button class="btn btn-outline-primary"
              style="width: 90px; margin: 2px; padding: 10px;"
              [ngClass]="{'btn-warning': (this.displayBoxes && this.boxDisplayConfirmed &&
              this.annotations.pre.length > 0
            && this.currentMode !== 'pre'),
            'btn-primary': this.currentMode === 'pre',
            'btn-outline-primary': this.currentMode !== 'pre'}"
              (click)="this.changeMode('pre')"
              [disabled]="this.scans.preScan === undefined">Vor
      </button>
    </div>
    <button class="btn"
            [disabled]="!boxDisplayConfirmed"
            [ngClass]="(this.displayBoxes && this.boxDisplayConfirmed) ? 'btn-success': 'btn-outline-success'"
            style="width: 277px; margin: 2px; padding: 10px;"
            (click)="toggleBoxes()">Boxen anzeigen</button>
    <div>
      <button class="btn btn-outline-success"
              style="width: 66px; margin: 2px; padding: 10px;"
              (click)="zoomIn(-20)">-
      </button>
      <button class="btn"
              style="width: 137px; margin: 2px; padding: 10px;"
              [ngClass]="this.enableZoom? 'btn-success': 'btn-outline-success'"
              (click)="toggleZoom()">Toggle Zoom
      </button>
      <button class="btn btn-outline-success"
              style="width: 66px; margin: 2px; padding: 10px;"
              (click)="zoomIn(20)">+
      </button>
    </div>
    <button *ngIf="isAllowed" class="btn"
            [ngClass]="this.enableDelete? 'btn-success': 'btn-outline-success'"
            style="width: 277px; margin: 2px; padding: 10px;"
            (click)="toggleDelete()">Löschen aktivieren</button>
    <button *ngIf="isAllowed" class="btn"
            [ngClass]="this.enableEdit? 'btn-success': 'btn-outline-success'"
            style="width: 277px; margin: 2px; padding: 10px;"
            (click)="toggleEditor()">Editor aktivieren</button>
    <div>
      <button *ngIf="isAllowed && this.enableEdit" class="btn btn-outline-success"
              style="width: 136px; margin: 2px; padding: 5px;"
              (click)="deleteLastTempBox()">Box rückgängig
      </button>
      <button *ngIf="isAllowed && this.enableEdit" class="btn btn-outline-success"
              style="width: 136px; margin: 2px; padding: 5px;"
              (click)="saveTempBox()">Box speichern
      </button>
    </div>
    <button *ngIf="isAllowed" class="btn btn-outline-success"
            style="width: 277px; margin: 2px; padding: 10px;"
            (click)="saveNewAnnotation()">Annotationen Speichern</button>

    <!--
    <div style="text-align: justify; margin-top: 10px; padding: 10px; border: 1px solid hsl(200, 70%, 80%);
    border-radius: 5px;">
      <h6>Info:</h6>
      <ul>
        <li>Zoom mit Mausrad. Wird die Zoom-Box langsamer, Zoom aus und an-toggeln.</li>
        <li>Gelber Button bedeutet, dass Bounding-Boxen vorhanden sind.</li>
        <li>Bounding-Boxen werden erst anzeigbar, sobald der Befund geprüft wurde.</li>
      </ul>
    </div>-->
    <div *ngIf="isAllowed"
         style="margin-top: 10px; padding: 5px; border-radius: 5px;"
          [ngStyle]="{'outline': warnPathology ? '3px solid red' : '1px solid hsl(200, 70%, 80%)'}">
      <h5>Pathologie wählen</h5>
      <table>
        <tbody>
        <ng-container *ngFor="let pathology of pathologyList">
          <tr>
            <td><input type="radio"
                       id="{{pathology.name}}"
                       name="Pathologies"
                       [value]="pathology"
                       [(ngModel)]="currentPathology"/></td>
            <td><label for="{{pathology.name}}">{{pathology.name}}</label></td></tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div style="position: relative; margin: 5px;" [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight}">
    <img #sourceImage
      style="position: absolute; left: 0; top: 0; z-index: 0"
         height="{{currentHeight}}" width="{{currentWidth}}"
         src="{{currentScanUrl}}"
         id="sourceImage" class="image" alt="Fehler beim Laden der Aufnahme"/>
    <canvas #drawLayer style="position: absolute; left: 0; top: 0; z-index: 1" id="drawCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas #tempLayer style="position: absolute; left: 0; top: 0; z-index: 1" id="tempCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas #labelLayer style="position: absolute; left: 0; top: 0; z-index: 1" id="labelCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas *ngIf="enableHover" #hoverLayer style="position: absolute; left: 0; top: 0; z-index: 2" id="hoverCanvas"
            width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
    <div #lensContainer *ngIf="enableZoom">
      <div style="position: absolute; border: 1px solid #d4d4d4;"
           [ngStyle]="{'width.px': lensSize, 'height.px': lensSize}" id="lens" ></div>
      <div style="position: absolute; left: 0; top: 0; z-index: 3" id="zoomCanvas"
           [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight}"></div>
    </div>
    <canvas *ngIf="enableDelete" #deleteLayer style="position: absolute; left: 0; top: 0; z-index: 4" id="deleteCanvas"
            width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
    <canvas *ngIf="enableEdit" #editLayer style="position: absolute; left: 0; top: 0; z-index: 4" id="editCanvas"
            width="{{currentWidth}}" height="{{currentHeight}}"></canvas>

  </div>

  <div>
    <h3 style="margin: 20px">Zoom</h3>
    <div #zoomDiv style="margin: 20px; width: 600px; height: 600px; border: 1px solid #d4d4d4;"
         id="zoom"></div>

    <div style="margin: 20px" *ngIf="isAllowed">
      <h5>Kommentar hinzufügen:</h5>
      <textarea style="padding: 10px;" rows="6" cols="75" [(ngModel)]="currentComment"></textarea>
    </div>
  </div>



</div>
