.main {
  grid-template-columns: 370px 850px;
  display: grid;
  overflow-y: scroll;
  overflow-x: auto;
  grid-column-gap: 10px;
  height: auto;
  padding: 0;
  grid-template-areas: "leftHalf rightHalf"
}

.leftHalf {
  grid-area: leftHalf;
  display: block;
}

.rightHalf {
  grid-area: rightHalf;
  position: relative;
  margin-top: 5px;
}

.buttonsDiv {
  vertical-align: center;
  text-align: center;
  margin-top: 15px;
}

.buttons {
  height: 50px;
  font-size: 100%;
}

.mat-button-toggle {
  height: 50px;
  align-items: center;
}

.mat-button-toggle-group {
  height: 50px;
  align-items: center;
}

.imgButton {
  width: 100px;
}

.imgButtonWarn {
  background-color: #ffc107
}

.wideButton {
  width: 300px;
}

.halfButton {
  width: 150px;
}

.zoomBtnSide {
  width: 81px;
}

.zoomBtn {
  width: 138px;
}

.zoomDiv {
  margin: 5px 5px 2px 60px;
  width: 250px;
  height: 250px;
  border: 1px solid #d4d4d4;
  vertical-align: center;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.level0 {
  z-index: 0;
}

.level1 {
  z-index: 1;
}

.level2 {
  z-index: 2;
}

.level3 {
  z-index: 3;
}

.level4 {
  z-index: 4;
}

.tipCanvas {
  position: absolute;
  padding: 5px;
  left: -800px;
  top: -100px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.zoomLens {
  position: absolute;
  border: 1px solid #d4d4d4;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
