<div class="main">
  <div class="leftHalf">
    <div class="buttonsDiv">
      <mat-button-toggle-group value="Frontal">
        <mat-button-toggle class="buttons imgButton"
                           value="Frontal"
                           [ngClass]="{'imgButtonWarn':
                         (this.displayBoxes && this.annotations.main.length > 0
                          && this.currentMode !== 'main'),
                          'mat-button-toggle-checked': this.currentMode === 'main'}"
                           (click)="this.changeMode('main')">Frontal
        </mat-button-toggle>
        <mat-button-toggle class="buttons imgButton" (click)="this.changeMode('lateral')"
                           value="Lateral"
                           [ngClass]="{'imgButtonWarn':
                            (this.displayBoxes && this.annotations.lateral.length > 0
                            && this.currentMode !== 'lateral'),
                          'mat-button-toggle-checked': this.currentMode === 'lateral'}"
                           [disabled]="this.scans.lateralScan === undefined"
                           [ngStyle]="{'pointer-events': (this.scans.lateralScan === undefined) ? 'none' : 'auto'}">
          Lateral</mat-button-toggle>
        <mat-button-toggle class="buttons imgButton" (click)="this.changeMode('pre')"
                           value="Vor"
                           [ngClass]="{'imgButtonWarn':
                         (this.displayBoxes && this.annotations.pre.length > 0
                          && this.currentMode !== 'pre'),
                          'mat-button-toggle-checked': this.currentMode === 'pre'}"
                           [disabled]="this.scans.preScan === undefined"
                           [ngStyle]="{'pointer-events': (this.scans.preScan === undefined) ? 'none' : 'auto'}">
          Vor</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle [ngClass]="{'mat-button-toggle-checked': displayBoxes}"
                         class="buttons wideButton"
                         (click)="toggleBoxes()">Annotationen anzeigen
      </mat-button-toggle>
      <div>
        <button mat-stroked-button (click)="zoomIn(+20)"
                class="buttons zoomBtnSide">-
        </button>
        <mat-button-toggle (click)="toggleZoom()"
                           [ngClass]="{'mat-button-toggle-checked': enableZoom}"
                           class="buttons zoomBtn">Zoom An/Aus
        </mat-button-toggle>
        <button mat-stroked-button (click)="zoomIn(-20)"
                class="buttons zoomBtnSide">+
        </button>
      </div>
      <mat-button-toggle class="buttons wideButton"
                         [ngClass]="{'mat-button-toggle-checked': enableDelete}"
                         (click)="toggleDelete()">
        Box Löschen An/Aus
      </mat-button-toggle>
      <mat-button-toggle class="buttons wideButton"
                         [ngClass]="{'mat-button-toggle-checked': false}"
                         (click)="toggleEditor()">
        Editor
        <mat-icon *ngIf="!enableEdit">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="enableEdit">arrow_drop_up</mat-icon>
      </mat-button-toggle>
      <button mat-stroked-button [hidden]="!enableEdit"
              class="buttons halfButton"
              (click)="openCommentDialog()">
        Kommentar
      </button>
      <button class="buttons halfButton" mat-stroked-button [hidden]="!enableEdit"
              (click)="deleteLastTempBox()"><mat-icon>undo</mat-icon>
      </button>

      <div [hidden]="!enableEdit">
        <mat-form-field class="wideButton" appearance="fill">
          <mat-label>Diagnose wählen</mat-label>
          <mat-select [(ngModel)]="currentLabel">
            <ng-container *ngFor="let label of boxLabels">
              <mat-option *ngIf="label.subLabels.length === 0" [value]="label.name">
                {{label.name}}
              </mat-option>
              <ng-container *ngIf="label.subLabels.length > 0">
                <mat-optgroup [label]="label.name">
                  <mat-option [value]="label.name">-</mat-option>
                  <mat-option *ngFor="let subLabel of label.subLabels" [value]="label.name + ' | ' + subLabel">
                    {{subLabel}}
                  </mat-option>
                </mat-optgroup>
              </ng-container>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <button [hidden]="!enableEdit" mat-flat-button color="primary" class="buttons wideButton"
              (click)="saveNewAnnotation()">
        Annotation speichern
      </button>
    </div>
  </div>

  <div class="rightHalf" [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight}">
    <img #sourceImage class="canvas level0"
         height="{{currentHeight}}" width="{{currentWidth}}"
         src="{{currentScanUrl}}" id="sourceImage" alt="Fehler beim Laden der Aufnahme">
    <canvas #boxLayer class="canvas level1" id="drawCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas #tempLayer class="canvas level1" id="tempCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas #labelLayer class="canvas level1" id="labelCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <canvas *ngIf="displayBoxes" #hoverLayer class="canvas level2" id="hoverCanvas"
            width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
    <div #tipDiv class="tipCanvas level3" id="tip">{{currentTooltip}}</div>
    <div #lensContainer *ngIf="enableZoom">
      <div class="zoomDiv level3"  id="zoom"></div>
      <div class="zoomLens"
           [ngStyle]="{'width.px': lensSize, 'height.px': lensSize}" id="zoomLens"></div>
      <div class="canvas level3" id="zoomLayer"
           [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight}"></div>
    </div>
    <canvas *ngIf="enableDelete" #deleteLayer class="canvas level4" id="deleteCanvas"
            width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
    <canvas *ngIf="enableEdit" #editLayer class="canvas level4" id="editCanvas"
            (mouseup)="saveTempBox()"
            width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
  </div>
</div>
