<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <mat-form-field style="width: 60%;">
    <input placeholder="Name" matInput #inputField [(ngModel)]="inputValue">
  </mat-form-field>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="openListVariableDialog()"
          [disabled]="inputField.value.length == 0">Variablen verwalten ({{ checkBox.variables.length }})
  </button>

  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Synonyme (Durch Komma getrennt)</mat-label>
    <mat-chip-grid #chipListSynonyms aria-label="Synonyme">
      <mat-chip-row
        *ngFor="let synonym of this.checkBox.keys"
        (removed)="removeSynonym(synonym)">
        {{ synonym }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        placeholder="Neues Synonym ..."
        [matChipInputFor]="chipListSynonyms"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addSynonym($event)">
    </mat-chip-grid>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="inputField.value.length == 0">Bestätigen
  </button>
</mat-dialog-actions>
