button.btn-primary{
    margin-left: 15px;
    margin-right: 15px;
    
}

h5{
    font-size: 1.5rem;
}

.myCard{
    overflow: visible;
}

.angle{
    float: right;
}

.layer1{
    padding-left: 44px;

}
.layer2{
    padding-left: 66px;
}

input.mytext{
    width: 65% !important;
}

.textVar{
    display: inline-block;
}
.textVar label{
    display: block;
}


.myRotIn {
    animation: rotate1 1s ease-in-out 0s;
  }
  
  @keyframes rotate1 {
      from { transform: rotate(0deg); }
      to { transform: rotate(180deg); }
  }

.myRotOut {
    animation: rotate2 1s ease-in-out 0s;
}

@keyframes rotate2 {
    from {transform: rotate(180deg);}
    to { transform: rotate(0deg);}
}

.disease{
   
    background-color: rgba(255, 0, 0, 0.3);
}

.category{
   
    background-color: rgba(0, 255, 0, 0.3);
}

.box{
    background-color: rgba(0, 0, 255, 0.3);
    
}

.oc{
    background-color: rgba(0, 100, 100, 0.3);
}

.text{
    background-color: rgba(0, 100, 100, 0.3);
}

.diseaseFont{
    font-size: 1.75rem;
   
}

.categoryFont{
    font-size: 1.5rem;

}

.boxFont{

    font-size: 1.25rem;
}

.ocFont{
    font-size: 1rem;
}
.textFont{
    font-size: 1rem;
}

.form-control.indict{
    display: inline;
    width: unset;
}

.save{
    display: inline;
    float: right;
}

.container{
    margin-top: 2%;
}

.error{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySpinner{
    /* display: flex !important;
    justify-content: center !important;
    align-items: center !important; */
    height: 3rem !important;
    margin-top: 20%;
    width: 3rem !important;
}