  <table style="margin: 20px">
    <tbody>
    <tr *ngFor="let row of rows">
      <td *ngIf="layoutId===0" class="category"
          [style.width.%]="10"
          [ngStyle]="{'color': row.optional ? 'grey' : 'black'}">
        {{row.hidden ? "" : row.name}}</td>
      <ng-container *ngIf="row.name === selectedCat || layoutId === 0">
        <ng-container *ngFor="let clickable of row.clickables" class="col-3">
          <ng-container *ngIf="clickable.kind === 'box'">
            <td class="box" style="padding-left: 10px">
              <input type="checkbox" [(ngModel)]="clickable.value"
                     (click)="updateFromBox(row.name, clickable)" id="{{row.name}} {{clickable.name}} box"/>
            </td>
            <td class="title" [style.width.%]="width" >
              <label [ngClass]="{'selected': clickable.value}"
                     [ngStyle]="{'border' : row.name + ' '
                     + clickable.name === selectedSelectableID ? '3px solid red' : '3px solid transparent'}"
                     for="{{row.name}} {{clickable.name}} box">
                {{clickable.name}}
              </label>
            </td>
            <app-variables *ngIf="clickable.variables.length> 0"
                           (clickEvent)="updateFromVariable(clickable)"
                           [variables]="clickable.variables"
                           [parentText]="clickable.name"
                           [parentActive]="clickable.value"
                           [currentLayout]="layoutId"></app-variables>
          </ng-container>

          <ng-container *ngIf="clickable.kind === 'option'">
              <td class="radio box" style="padding-left: 10px">
                <input type="radio"
                       id="{{row.name}} {{clickable.groupID + clickable.name}} box"
                       [name]="clickable.groupID"
                       [value]="clickable.name"
                       (click)="updateFromGroup(row.name, clickable.groupID, clickable.name)"
                       [(ngModel)]="getGroupByID(row.name, clickable.groupID).value"/>
              </td>
              <td class="title" [style.width.%]="width">
                <label for="{{row.name}} {{clickable.groupID + clickable.name}} box"
                       [ngStyle]="{'border' : row.name + ' ' + clickable.name === selectedSelectableID ?
                       '3px solid red' : '3px solid transparent'}"
                       [ngClass]="{'selected': (clickable.name === getGroupByID(row.name, clickable.groupID).value)}">
                  {{clickable.name}}
                </label>
              </td>
              <app-variables *ngIf="clickable.variables.length > 0"
                             (clickEvent)="updateFromVariable(clickable, row.name)"
                             [variables]="clickable.variables"
                             [parentText]="clickable.name"
                             [parentActive]="clickable.name === getGroupByID(row.name, clickable.groupID).value"
                             [currentLayout]="layoutId"></app-variables>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
    </tbody>
  </table>

