<table [ngClass]="currentLayout === 0 ? 'variables-default' : 'variables-expand'">
  <ng-container *ngFor="let variable of this.variables">
    <tr>
      <td *ngIf="variable.kind === 'oc'">
          {{variable.textBefore}}
	        <ng-container *ngFor="let val of variable.values; let last=last">
		        <input type="radio" id="{{variable.id}}+{{val}}"  name="{{variable.id}}"
                   [value]="val" [(ngModel)]="variable.value"
                   (click)="clicked(variable, val)"/>
            <label for="{{variable.id}}+{{val}}"
                   [ngClass]="{'selected': (val === variable.value && parentActive)}">{{val}}</label>
            <ng-container *ngIf="!last">/</ng-container>
	        </ng-container> {{variable.textAfter}}
      </td>

      <td *ngIf="variable.kind === 'mc'">
        {{variable.textBefore}}
	        <ng-container *ngFor="let val of variable.values; let last=last">
		        <input type="checkbox" id="{{variable.id}}+{{val[0]}}" name="{{variable.id}}"
                   [value]="val[0]" [(ngModel)]="val[1]" (click)="clicked(variable)"/>
            <label for="{{variable.id}}+{{val[0]}}"
                   [ngClass]="{'selected': (val[1] && parentActive)}">{{val[0]}}</label>
            <ng-container *ngIf="!last">;</ng-container>
	        </ng-container> {{variable.textAfter}}
      </td>

      <td *ngIf="variable.kind === 'text' || variable.kind === 'number'
      || variable.kind === 'date'">
        {{variable.textBefore}}
        <button class="modal-button"
                [ngClass]="{'selected': parentActive}"
                matTooltip="Bitte anklicken, um Text einzugeben."
                id="{{variable.id}} btn" (click)="submit(variable)">{{parseButtonText(variable)}}
          <mat-icon *ngIf="radiolearn && parseButtonText(variable) === '.....'">edit</mat-icon></button>
        {{variable.textAfter}}
      </td>
    </tr>
  </ng-container>
</table>
