.variables-default {
  background-color: hsl(202, 73%, 97%);
  border-radius: 3px;
  box-shadow: 0 0 2px grey;
  width: 99%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 85%;
}

.variables-expand {
  background-color: hsl(202, 73%, 97%);
  border-radius: 3px;
  box-shadow: 0 0 2px grey;
  width: 99%;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: -14px;
  font-size: 85%;
}

td {
  line-height: 0.7;
  padding: 2px 2px;
}

label {
  display: inline-block;
  min-width: 16px;
  padding: 3px 3px;
  text-align: center;
  border-radius: 3px;
}
label.selected {
  background-color: lightgreen;
}
label:hover {
  box-shadow: 0 0 2px black;
}
label:active{
  box-shadow: 0 0 2px black;
}

input[type="radio"] {
  display: none;
}
input[type="checkbox"] {
  display: none;
}

button.modal-button {
  background: transparent;
  border: none;
  border-radius: 2px;
  padding: 5px 3px;
}

button:hover {
  box-shadow: 0 0 2px black;
  // border-radius: 2px;
}

.mat-icon {
  font-size: 18px;
}



