td.category{
  font-size: 140%;
  font-weight: bold;
  padding-left: 5px;
  vertical-align: top;
  position: relative;
  top: -1px;
  overflow: hidden;
}

td.box {
  vertical-align: text-top;
  position: relative;
  top: 1px;
  bottom: -2px;
  overflow: hidden;
  color: black;
}

td.title {
  font-size: 95%;
  display: block;
  position: relative;
  min-width: 210px;
  max-width: 220px;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 1px;
  border-radius: 5px;
}

label.selected {
  background-color: lightblue;
  border-radius: 2px;
}
label:hover {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
label:active {
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}

