<h1 mat-dialog-title>Alles bearbeitet</h1>
<div mat-dialog-content>
  Aktuell gibt es in diesem Modus keine weiteren zu bearbeitenden Aufnahmen.<br>
  Falls du es noch nicht getan hast, würden wir uns sehr freuen, wenn du uns in einer
  <a (click)="linkClicked()" href="https://forms.gle/zXVf14PEaEiLFRLt5">kurzen Umfrage</a>
  Rückmeldung zu RadioLearn geben würdest. (Dauer c.a. 3 Min)
  <br><br>Du kannst über den Button unten auch deinen Fortschritt zurücksetzen,
  dann werden dir bereits bearbeitete Materialien wieder angezeigt.
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkfocusinitial (click)="resetProgress()">Fortschritt zurücksetzen</button>
  <a href="https://forms.gle/zXVf14PEaEiLFRLt5">
  </a>
  <button mat-button mat-dialog-close>Schließen</button>
</div>
