<h1 mat-dialog-title>Alles bearbeitet</h1>
<div mat-dialog-content>
  Aktuell gib es in diesem Modus keine weiteren zu bearbeitenden Materialien.<br> Falls du es noch nicht getan hast, würden wir uns sehr freuen, wenn du uns in einer kurzen Umfrage Rückmeldung zu Radiolearn geben könntest.<br> (Dauer c.a. 3 Min)
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <a href="https://forms.gle/gWqS5ZUckeiCYCXU8">
    <button mat-button mat-dialog-close cdkFocusInitial>Zur Umfrage</button>
  </a>
</div>
