<h5 mat-dialog-title>
  {{title}}
</h5>
<mat-divider></mat-divider>

<div mat-dialog-content class="content">
  <p>{{message}}</p>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions class="buttons" *ngIf="type === 'confirm'">
  <button mat-raised-button color="primary" (click)="onConfirm()">Bestätigen</button>
  <button mat-raised-button (click)="onDismiss()">Abbrechen</button>
</div>

<div mat-dialog-actions class="buttons" *ngIf="type === 'warning'">
  <button class="btn btn-outline-danger" (click)="onConfirm()">Bestätigen</button>
  <button class="btn btn-outline-secondary" (click)="onDismiss()">Abbrechen</button>
</div>
