<div class="main">
  <div id="buttonsDiv" *ngIf="!isMobile">
    <mat-button-toggle-group value="Frontal">
      <mat-button-toggle class="buttons imgButton"
                         value="Frontal"
                         [ngClass]="{'imgButtonWarn':
                        (this.displayBoxesSolution && this.annotations.main.length > 0
                         && this.currentImageType !== 'main'),
                         'mat-button-toggle-checked': this.currentImageType === 'main'}"
                         (click)="this.changeToImageType('main')">Frontalaufnahme
      </mat-button-toggle>
      <mat-button-toggle class="buttons imgButton" (click)="this.changeToImageType('lateral')"
                         value="Lateral"
                         [ngClass]="{'imgButtonWarn':
                           (this.displayBoxesSolution && this.annotations.lateral.length > 0
                           && this.currentImageType !== 'lateral'),
                         'mat-button-toggle-checked': this.currentImageType === 'lateral'}"
                         [disabled]="this.scans.lateralScan === undefined"
                         [ngStyle]="{'pointer-events': (this.scans.lateralScan === undefined) ? 'none' : 'auto'}">
        Lateralaufnahme
      </mat-button-toggle>
      <mat-button-toggle class="buttons imgButton" (click)="this.changeToImageType('pre')"
                         value="Vor"
                         [ngClass]="{'imgButtonWarn':
                        (this.displayBoxesSolution && this.annotations.pre.length > 0
                         && this.currentImageType !== 'pre'),
                         'mat-button-toggle-checked': this.currentImageType === 'pre'}"
                         [disabled]="this.scans.preScan === undefined"
                         [ngStyle]="{'pointer-events': (this.scans.preScan === undefined) ? 'none' : 'auto'}">
        Voraufnahme
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="float-end">
      <button mat-stroked-button (click)="zoomIn(+20)"
              class="buttons zoomBtnSide">-
      </button>
      <mat-button-toggle (click)="toggleZoom()"
                         [ngClass]="{'mat-button-toggle-checked': enableZoom}"
                         class="buttons zoomBtn">Zoom An/Aus
      </mat-button-toggle>
      <button mat-stroked-button (click)="zoomIn(-20)"
              class="buttons zoomBtnSide">+
      </button>
    </div>
  </div>
  <div id="imgOuter">
    <div style="position: absolute; z-index: 100; top: 1rem;
     right:-170px; display: flex; flex-direction: column; gap: 1rem;
      " *ngIf="sawFeedback && drawMode">
      <mat-slide-toggle (click)="changeBoxVisibility()" [(ngModel)]="visible_solution">Lösung</mat-slide-toggle>
      <mat-slide-toggle (click)="changeBoxVisibility()" [(ngModel)]="visible_input">Meine Eingabe</mat-slide-toggle>
    </div>
    <div id="imgInner"
         [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight, 'margin': drawMode ? '0 auto' : '0'}">
      <img #sourceImage class="canvas level0"
           height="{{currentHeight}}" width="{{currentWidth}}"
           src="{{currentScanUrl}}" id="sourceImage" alt="Fehler beim Laden der Aufnahme">
      <canvas #boxLayer class="canvas level1" id="drawCanvas"
              width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
      <canvas #tempLayer class="canvas level1" id="tempCanvas"
              width="{{currentWidth+50}}" height="{{currentHeight+50}}"></canvas>
      <canvas #labelLayer class="canvas level1" id="labelCanvas"
              width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
      <canvas *ngIf="displayBoxesSolution" #hoverLayer class="canvas level4" id="hoverCanvas"
              width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
      <canvas *ngIf="true" #editLayer class="canvas level3" id="editCanvas"
              (mouseup)="saveTempBox()"
              width="{{currentWidth}}" height="{{currentHeight}}"></canvas>
      <div #tipDiv class="tipCanvas level3" id="tip">{{currentTooltip}}</div>
      <div #lensContainer *ngIf="enableZoom">
        <div class="zoomDiv" id="zoom"></div>
        <div class="zoomLens"
             [ngStyle]="{'width.px': lensSize, 'height.px': lensSize}" id="lens"></div>
        <div class="canvas level3" id="zoomLayer"
             [ngStyle]="{'width.px': currentWidth, 'height.px': currentHeight}"></div>
      </div>
    </div>
  </div>
  <div id="buttonsMobile" *ngIf="isMobile">
    <mat-button-toggle-group value="Frontal">
      <mat-button-toggle class="mobileButton"
                         value="Frontal"
                         [ngClass]="{'imgButtonWarn':
                        (this.displayBoxesSolution && this.annotations.main.length > 0
                         && this.currentImageType !== 'main'),
                         'mat-button-toggle-checked': this.currentImageType === 'main'}"
                         (click)="this.changeToImageType('main')">Frontal
      </mat-button-toggle>
      <mat-button-toggle class="mobileButton" (click)="this.changeToImageType('lateral')"
                         value="Lateral"
                         [ngClass]="{'imgButtonWarn':
                           (this.displayBoxesSolution && this.annotations.lateral.length > 0
                           && this.currentImageType !== 'lateral'),
                         'mat-button-toggle-checked': this.currentImageType === 'lateral'}"
                         [disabled]="this.scans.lateralScan === undefined"
                         [ngStyle]="{'pointer-events': (this.scans.lateralScan === undefined) ? 'none' : 'auto'}">
        Lateral
      </mat-button-toggle>
      <mat-button-toggle class="mobileButton" (click)="this.changeToImageType('pre')"
                         value="Vor"
                         [ngClass]="{'imgButtonWarn':
                        (this.displayBoxesSolution && this.annotations.pre.length > 0
                         && this.currentImageType !== 'pre'),
                         'mat-button-toggle-checked': this.currentImageType === 'pre'}"
                         [disabled]="this.scans.preScan === undefined"
                         [ngStyle]="{'pointer-events': (this.scans.preScan === undefined) ? 'none' : 'auto'}">
        Voraufnahme
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <div style="display: flex; align-items: center; justify-content: center; width: 100%; margin-top: 10px"
         *ngIf="showCommentButton">
      <button mat-raised-button color="primary" style="" (click)="showAllComments()">
        Kommentare anzeigen
      </button>
    </div>

  </div>
</div>
