<ng-container *ngIf="this.mode == 'Gastroenterologie'">
  <form>
    <div class="settings">
      <div>
        <label class="mr-3" for="uploadFile">Datei: </label>
        <input class="mr-3" type="file" id="uploadFile"/>
      </div>
      <div>
        <label class="mr-3" for="NameOfFile">Name: </label>
        <input class="mr-3" type="text" name="name" id="NameOfFile">
        <button class="btn btn-info ml-3" (click)="uploadNew()">Upload</button>
      </div>
    </div>
  </form>
</ng-container>


<ng-container *ngIf="this.mode == 'Radiologie'">
  <form>
    <div class="settings">
      <div>
        <label class="mr-3" for="uploadFile">Datei: </label>
        <input class="mr-3" type="file" id="uploadFile"/>
      </div>
      <div>
        <label class="mr-3" for="NameOfFile">Name: </label>
        <input class="mr-3" type="text" name="name" id="NameOfFile" [(ngModel)]="this.name">
        <button class="btn btn-info ml-3" (click)="upload()">Upload</button>
      </div>
    </div>
  </form>
</ng-container>
