<div mat-dialog-title>
  <h3>Dokumentation: Fehleranalyse</h3>
</div>

<mat-divider></mat-divider>

<mat-dialog-content>

  <div class="table-div" style="width: 50%" *ngIf="!isMobile">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th class="table-dark fixed-width" scope="row">Anzahl Fehler</th>
        <td class="fixed-width" [ngClass]="{'table-danger': majorErrorCount > 5, 'table-warning': majorErrorCount > 0,
                                            'table-success': majorErrorCount === 0}">{{majorErrorCount}}</td>
      </tr>
      <tr>
        <th class="table-dark fixed-width" scope="row">Anzahl Fehler (Variable)</th>
        <td class="fixed-width" [ngClass]="{'table-danger': minorErrorCount > 5, 'table-warning': minorErrorCount > 0,
                                            'table-success': minorErrorCount === 0}">{{minorErrorCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-div" style="width: 50%" *ngIf="isMobile">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th class="table-dark fixed-width" scope="row">Anzahl Fehler</th>
        <th class="table-dark fixed-width" scope="row">Anzahl Fehler (Variable)</th>
      </tr>
      <tr>
        <td class="fixed-width" [ngClass]="{'table-danger': majorErrorCount > 5, 'table-warning': majorErrorCount > 0,
                                            'table-success': majorErrorCount === 0}">{{majorErrorCount}}</td>
        <td class="fixed-width" [ngClass]="{'table-danger': minorErrorCount > 5, 'table-warning': minorErrorCount > 0,
                                            'table-success': minorErrorCount === 0}">{{minorErrorCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <mat-divider></mat-divider>

  <div class="table-div" *ngIf="!isMobile">
    <table class="table table-bordered">
      <thead class="table-dark">
      <tr>
        <th scope="col">Kategorie</th>
        <th scope="col">Eingabe</th>
        <th scope="col">Lösung</th>
        <th scope="col">Eingabe (Variable)</th>
        <th scope="col">Lösung (Variable)</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let errorRow of errorRows">
          <td class="table-info" *ngIf="errorRow.catRowSize > 0" [attr.rowspan]="errorRow.catRowSize">
            {{errorRow.catName}}
          </td>
          <ng-container *ngIf="errorRow.selRowSize > 0">
            <ng-container *ngIf="errorRow.selError.kind === 'box'">
              <td [attr.rowspan]="errorRow.selRowSize"
                  [ngClass]="{'italic-font': errorRow.selError.actual === 'Nichts',
                  'table-danger': errorRow.selError.actual !== errorRow.selError.should,
                  'table-success': (errorRow.selError.actual === errorRow.selError.should) && errorRow.selError.normal,
                  'great-success': (errorRow.selError.actual === errorRow.selError.should) && !errorRow.selError.normal}">
                {{errorRow.selError.actual}}
              </td>
              <td [attr.rowspan]="errorRow.selRowSize"
                  [ngClass]="{'italic-font': errorRow.selError.should === 'Nichts'}">
                {{errorRow.selError.should}}
              </td>
            </ng-container>
            <ng-container *ngIf="errorRow.selError.kind === 'group'">
              <td [attr.rowspan]="errorRow.selRowSize"
                  [ngClass]="{'italic-font': errorRow.selError.actual === 'Nichts',
                  'table-danger': errorRow.selError.actual !== errorRow.selError.should,
                  'table-success': (errorRow.selError.actual === errorRow.selError.should) && errorRow.selError.normal,
                  'great-success': (errorRow.selError.actual === errorRow.selError.should) && !errorRow.selError.normal}">
                {{errorRow.selError.actual}}
              </td>
              <td [attr.rowspan]="errorRow.selRowSize"
                  [ngClass]="{'italic-font': errorRow.selError.should === 'Nichts'}">
                {{errorRow.selError.should}}
              </td>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="errorRow.varError !== null">
              <ng-container *ngIf="errorRow.varError.kind === 'mc'">
                <td [ngClass]="{'table-danger': errorRow.varError.actual !== errorRow.varError.should,
                                'table-success': errorRow.varError.actual === errorRow.varError.should}">
                  {{errorRow.varError.actual.join(", ")}}</td>
                <td>
                  {{errorRow.varError.should.join(", ")}}</td>
              </ng-container>
              <ng-container *ngIf="errorRow.varError.kind === 'value'">
                <td [ngClass]="{'italic-font': errorRow.varError.actual === 'Nichts',
                                'table-danger': errorRow.varError.actual !== errorRow.varError.should,
                                'table-success': errorRow.varError.actual === errorRow.varError.should}">
                  {{errorRow.varError.actual}}</td>
                <td [ngClass]="{'italic-font': errorRow.varError.should === 'Nichts'}">
                  {{errorRow.varError.should}}</td>
              </ng-container>
              <ng-container *ngIf="errorRow.varError.kind === 'ratio'">
                <td [ngClass]="{'table-danger': ((errorRow.varError.actualNum !== errorRow.varError.shouldNum) ||
                (errorRow.varError.actualDenom !== errorRow.varError.shouldDenom)),
                                'table-success': ((errorRow.varError.actualNum === errorRow.varError.shouldNum) &&
                (errorRow.varError.actualDenom === errorRow.varError.shouldDenom))}">
                  {{errorRow.varError.actualNum}} / {{errorRow.varError.actualDenom}}</td>
                <td>
                  {{errorRow.varError.shouldNum}} / {{errorRow.varError.shouldDenom}}</td>
              </ng-container>
            </ng-container>
          <ng-container *ngIf="errorRow.varError === null">
            <td>-</td>
            <td>-</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-div" *ngIf="isMobile">
    <table class="table table-bordered">
      <thead class="table-dark">
      <tr>
        <th scope="col">Eingabe</th>
        <th scope="col">Lösung</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let errorRow of errorRowsMobile">
        <ng-container *ngIf="errorRow.selError">
          <ng-container *ngIf="errorRow.selError.kind === 'box'">
            <td [ngClass]="{'italic-font': errorRow.selError.actual === 'Nichts',
                  'table-danger': errorRow.selError.actual !== errorRow.selError.should,
                  'table-success': (errorRow.selError.actual === errorRow.selError.should) && errorRow.selError.normal,
                  'great-success': (errorRow.selError.actual === errorRow.selError.should) && !errorRow.selError.normal}">
              {{errorRow.selError.actual}}
            </td>
            <td [ngClass]="{'italic-font': errorRow.selError.should === 'Nichts'}">
              {{errorRow.selError.should}}
            </td>
          </ng-container>
          <ng-container *ngIf="errorRow.selError.kind === 'group'">
            <td [ngClass]="{'italic-font': errorRow.selError.actual === 'Nichts',
                  'table-danger': errorRow.selError.actual !== errorRow.selError.should,
                  'table-success': (errorRow.selError.actual === errorRow.selError.should) && errorRow.selError.normal,
                  'great-success': (errorRow.selError.actual === errorRow.selError.should) && !errorRow.selError.normal}">
              {{errorRow.selError.actual}}
            </td>
            <td [ngClass]="{'italic-font': errorRow.selError.should === 'Nichts'}">
              {{errorRow.selError.should}}
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="errorRow.varError">
          <ng-container *ngIf="errorRow.varError.kind === 'mc'">
            <td [ngClass]="{'table-danger': errorRow.varError.actual !== errorRow.varError.should,
                            'table-success': errorRow.varError.actual === errorRow.varError.should}">
              {{errorRow.varError.actual.join(", ")}}</td>
            <td>
              {{errorRow.varError.should.join(", ")}}</td>
          </ng-container>
          <ng-container *ngIf="errorRow.varError.kind === 'value'">
            <td [ngClass]="{'italic-font': errorRow.varError.actual === 'Nichts',
                            'table-danger': errorRow.varError.actual !== errorRow.varError.should,
                            'table-success': errorRow.varError.actual === errorRow.varError.should}">
              {{errorRow.varError.actual}}</td>
            <td [ngClass]="{'italic-font': errorRow.varError.should === 'Nichts'}">
              {{errorRow.varError.should}}</td>
          </ng-container>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions style="float: right">
  <button *ngIf="!isMobile" mat-raised-button color="primary" (click)="next()">Nächste Aufnahme</button>
  <button mat-raised-button (click)="close()">Schließen</button>
</mat-dialog-actions>
