.header {
  margin-bottom: 10px;
}

.form-group {
  margin: 10px;
}

.mat-mdc-dialog-actions {
  float: right;
}

#cancelButton {
  margin-left: 5px;
}

.full-width {
  width: 100%;
}

.some-width {
  width: 60%;
}

.button-adjust {
  margin-top: 10px;
}
