$border-color: hsl(200, 70%, 80);
$background-color: hsl(202, 73%, 97%);

.report-text {
  width: 100%;
  height: 70%;
  padding: 2px;
  margin: 0;
  color: black;
  background-color: $background-color;
}

.judgement-text{
  width: 100%;
  height: 25%;
  padding: 2px;
  margin: 0;
}

textarea{
  height: 99%;
  width: 99%
}

// .report-buttons,
// .judgement-buttons{
//   height: 5%;
//   grid-area: bf-but;
//   grid-template-columns: 1fr 1fr;
//   display: grid;
// }

.button{
  border: 1px solid hsl(200, 70%, 80%);
  border-left: none;
}

#copy-button{
  width: 100%;
}

.report-text,
.report-buttons,
.judgement-text,
.judgement-buttons {
  border: 1px solid hsl(200, 70%, 80%);
  border-left: none;
}

