$border-color: hsl(200, 70%, 80);

.report-text {
  width: 100%;
  height: 100%;
}

.report-buttons
.judgement-buttons{
  grid-area: bf-but;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.report-text,
.report-buttons,
.judgement-text,
.judgement-buttons {
  border: 1px solid hsl(200, 70%, 80%);
  border-left: none;
}

