
.report-text {
  width: auto;
  grid-area: bf-text;
  height: 131%;
}

textarea {
  height: 100%;
}

.report-buttons {
  grid-area: bf-but;
  grid-template-columns: 1fr 1fr;
}
.report-text,
.report-buttons,
.judgement-text,
.judgement-buttons {
  border: 1px solid hsl(200, 70%, 80%);
  border-left: none;
}

.report-buttons,
.judgement-buttons {
  display: grid;
}

