<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_remaining">
    <mat-selection-list [multiple]="false">
      <div *ngFor="let cat of categories" style="display: flex; align-items: center;">
        <mat-list-option (click)="onCategorySelected(cat.name)"
                         [selected]="cat.name == selectedCat"
                         style="width: 40%">
          {{ cat.name }}
        </mat-list-option>
        <div *ngIf="cat.name == selectedCat">
          <button (click) = moveCategoryUp(cat.name) style="margin-left: 10px" mat-mini-fab color="primary"><mat-icon>arrow_upward</mat-icon></button>
          <button (click) = moveCategoryDown(cat.name) style="margin-left: 10px" mat-mini-fab color="primary"><mat-icon>arrow_downward</mat-icon></button>
          <button (click) = editCategory(cat.name) style="margin-left: 10px" mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
          <button (click) = removeCategory(cat.name) style="margin-left: 10px" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <button (click)="addCategory()" mat-raised-button color="primary" style="margin: 10px">+ Kategorie hinzufügen</button>
      </div>
    </mat-selection-list>

    <button (click) = "addGroup()" mat-raised-button color="primary" style="margin: 10px; float: left">Gruppe hinzufügen</button>
    <button (click) = "addCheckBox()" mat-raised-button color="primary" style="margin: 10px; float: left">Checkbox hinzufügen</button>
    <app-report-options style="float: left" [selectedCat]="selectedCat" [selectedSelectableID]="selectedSelectableID"
                        *ngIf="categories"
                        class="options-expand"
                        [categories]="categories"
                        >
    </app-report-options>
  </div>
</div>
</body>
</html>
