<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_remaining">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let cat of categories"
                       (click)="onCategorySelected(cat.name)"
                       [selected]="cat.name == selectedCat">
        {{cat.name}}
      </mat-list-option>
    </mat-selection-list>

    <app-report-options style="float: left" [selectedCat]="selectedCat" [selectedSelectableID]="selectedSelectableID"
                        *ngIf="categories"
                        class="options-expand"
                        [categories]="categories"
                        >
    </app-report-options>
  </div>
</div>
</body>
</html>
