<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_fixed">
      <mat-toolbar class="toolbar" color="primary">
        <a mat-button class="header-button" style="font-size: 18px;" routerLink='/list'>
          <mat-icon>arrow_back_ios</mat-icon>
          RadioSpeech
        </a>
        <span class="spacer"></span>
        <button mat-button class="header-button" [matMenuTriggerFor]="menu">{{currentLayout.displayName}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let layout of layouts"
                  (click)="layoutChanged(layout)">{{layout.displayName}}
          </button>
        </mat-menu>
        <button mat-button class="header-button" (click)="makeNormal()">Rest normal</button>
        <button mat-button class="header-button" (click)="reset()">Zurücksetzen</button>
        <button *ngIf="isAdmin" mat-button class="header-button" (click)="generateDownloadJson(parts)">
          <mat-icon>file_download</mat-icon></button>
      </mat-toolbar>

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Eingabe</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let chip of chips"
            [selectable]="selectable"
            [removable]="removable"
            [ngClass]="chip.color"
            (click)="onChipClick(chip)"
            (removed)="remove(chip)">
            {{chip.content}}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            #chipInput
            placeholder="Befund eingeben ..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [(ngModel)]="this.input" (input)="onInput()">
        </mat-chip-list>
      </mat-form-field>

  </div>

  <div id="inner_remaining">
        <mat-selection-list [multiple]="false" *ngIf="currentLayout.id === 1">
          <mat-list-option (click)="onSelected(cat.name)" *ngFor="let cat of categories" [selected]="cat.name == selectedCat">
            {{cat.name}}
          </mat-list-option>
        </mat-selection-list>

        <app-report-options style="float: left" [selectedCat]="selectedCat" [selectedSelectableID]="selectedSelectableID" *ngIf="categories"
                     [ngClass]="currentLayout.id === 0 ? 'options-default' : 'options-expand'"
                     (clickEvent)="onClick()" [categories]="categories" [layoutId]="currentLayout.id"></app-report-options>
        <app-report-output  class="report" [report]="report" [judgement]="judgment"></app-report-output>
  </div>

</div>
</body>
</html>
