<html>
<body class="disable-select">
<div id="outer">
  <div id="inner_fixed">
    <mat-toolbar class="toolbar" color="primary">
      <a mat-button class="header-button" style="font-size: 18px;" routerLink='/list'>
        <mat-icon>arrow_back_ios</mat-icon>
        RadioSpeech
      </a>
      <span class="spacer"></span>
      <a title="SessionData Download" [href]="downJson" [download]="dataFilename"
         (click)="updateSessionData($event)">
        <button *ngIf="isTester" [disabled]="sessionData.length === savedSessionData" class="header-button"
                mat-flat-button color="warn">
          <mat-icon>save</mat-icon>
        </button>
      </a>
      <button mat-button class="header-button" [matMenuTriggerFor]="menu" #t="matMenuTrigger">
        {{currentLayout.displayName}}
        <mat-icon *ngIf="!t.menuOpen">expand_more</mat-icon>
        <mat-icon *ngIf="t.menuOpen">expand_less</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let layout of layouts"
                (click)="layoutChanged(layout)">{{layout.displayName}}
        </button>
      </mat-menu>
      <button mat-button class="header-button" (click)="makeNormal()">Rest normal</button>
      <button mat-button class="header-button" (click)="reset()">Zurücksetzen</button>
    </mat-toolbar>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Eingabe</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let chip of chips"
          [selectable]="selectable"
          [removable]="removable"
          [ngClass]="chip.color"
          (click)="onChipClick(chip)"
          (removed)="remove(chip)">
          {{chip.content}}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          #chipInput
          placeholder="Befund eingeben ..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [(ngModel)]="this.input" (input)="onInput()">
      </mat-chip-list>
    </mat-form-field>

  </div>

  <div id="inner_remaining">
    <mat-selection-list [multiple]="false" *ngIf="currentLayout.id === 1 && mode != 'f'">
      <mat-list-option (click)="onSelectedCategory(cat.name)" *ngFor="let cat of categories"
                       [selected]="cat.name == selectedCat">
        {{cat.name}}
      </mat-list-option>
    </mat-selection-list>

    <app-report-options style="float: left" [selectedCat]="selectedCat" [selectedSelectableID]="selectedSelectableID"
                        *ngIf="categories && mode != 'f'"
                        [ngClass]="currentLayout.id === 0 ? 'options-default' : 'options-expand'"
                        (clickEvent)="onClick()" [categories]="categories"
                        [layoutId]="currentLayout.id"></app-report-options>
    <app-report-output class="report" [(report)]="report" [(judgement)]="judgement"></app-report-output>
  </div>

  <button *ngIf="!timerStarted && isTester"
          style="z-index: 300; position: fixed; bottom: 25px; right: 100px; font-weight: bold"
          mat-raised-button color="primary" id="start-report-button" (click)="startReportClicked()">
    Start Befundung
  </button>
  <button *ngIf="timerStarted && isTester"
          style="z-index: 300; position: fixed; bottom: 25px; right: 100px; font-weight: bold"
          mat-raised-button color="primary" id="submit-report-button" (click)="submitReportClicked()">
    Ende Befundung
  </button>

</div>
</body>
</html>
