<div class="main">
  <div class="header">
    <div class="inputArea">
      <label class="inputLabel" for="input">Eingabe:</label>
        <input class="inputBox" id="input" name="Befund" type="text" [(ngModel)]="this.input"
               (input)="onInput($event)" placeholder="Befund eingeben...">
    </div>
    <div class="buttons">
      <!--
        <button id="test" title="button zum testen" (click)="test()"
                class="btn btn-outline-secondary">Test
        </button>
      -->
      <button id="normal-button" (click)="makeNormal()"
              class="btn btn-outline-secondary">Rest normal</button>
      <button id="reset-button" (click)="reset()"
              class="btn btn-outline-secondary">Zurücksetzen</button>
      <button id="refresh" title="Seite neu laden" (click)="refreshPage()"
              class="btn btn-outline-secondary">Neu Laden</button>
      <button id="back" title="Go back to last page" (click)="pageBack()"
              class="btn btn-outline-secondary">Zurück</button>
      <a class="btn btn-clear btn-sm" title="Download JSON" [href]="downJson" download="data.json">JSDown</a>
    </div>

    <!--
    <div id="listening" class="btn btn-sm btn-danger float-left">Aus
    </div>-->

    <div class="inputText" id="inputText">
      <br>
    </div>
  </div>

  <div class="content" *ngIf="categories">
    <app-report class="report" [report]="report" [judgement]="judgement"></app-report>
    <app-options class="options" (clickEvent)="onClick()" [categories]="categories"></app-options>
  </div>
</div>
