<div class="main">

	<div class="headline">

		<button id="normal-button" (click)="makeNormal()" class="btn btn-outline-secondary float-right ">Rest
			normal</button>

		<!-- refreshes Page -->
		<button id="refresh" title="seite neu laden" (click)="refreshPage()"
			class="btn btn-outline-secondary float-right ">refresh</button>
		<!-- submits text in "Befund eingeben", if it is not automatically triggered by input -->
		<!-- <button id="submit-button" title="eingabe absenden" (click)="submit()"
			class="btn btn-outline-secondary float-right ">Senden</button> -->
		<!-- enables inputting text -->
		<button id="los" (click)="init()"
			class="btn btn-outline-secondary float-right ">los</button>
		
		<!-- <button id="scroll" (click)="scroll()"
			class="btn btn-outline-secondary float-right ">scroll</button> -->
		<!-- input "Befund" text here and submits it automatically -->
		<label for="input">Befund eingeben:
			<input id="input" name="Befund" type="text" (click)="inputClick()" (input)="onInput()" placeholder="Befund eingeben..." size="80">
		</label>
		<input type='file' id="imgUpload" />
		<img src="http://placehold.it/180" id="my_img" />
		<div id="inputText">
			<br>

		</div>
	</div>
	<div class="main-content" id = "main-content">
		<div class="container">
			<div *ngFor="let dis of diseases">
				<div class="disease" name="test" id="{{dis.name}}">{{dis.name}}</div>
				
				<div  *ngFor="let cat of dis.categories | sortCategories">
					<ng-container *ngIf="dis.active == true">
						<div class="cat" name="test" id="{{cat.name}}">{{cat.name}}</div>
						<div class="row">
							<div class="col-4" *ngFor="let key of filterSyn(cat.keys)">
								<ng-container *ngIf="cat.active == true">
									<!-- <div> <input [name]="cat"
										id="{{key.name}}box" [value]="key.name" type="radio"
											[(ngModel)]="key.active"/>
									</div> -->
									<div class="option" id={{key.name}}> {{key.name}}
										<!-- Adds the optional length Attribute  -->
									</div>
									<div *ngIf="key.TextBefore!=undefined" class="link" id="{{key.category + key.name}}">{{key.TextBefore + '...' + key.TextAfter}}</div>
									
								</ng-container>
							</div>
						</div>
					</ng-container>
				
				</div>
			</div>
		</div>
	</div>

	<app-report [report]="myText.report" [parts]="parts"></app-report>

</div>

<!-- Dialog to enter the Parameters, can be activated by integrating a button or link that
triggers the modal, for example: <div class="btn btn-info btn-lg" data-toggle="modal" data-target="#variableDialog"> Open Dialog </div> -->

<div class="modal fade" id="variableDialog" tabindex="-1" role="dialog" aria-labelledby="variableDialogLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="variableDialogLabel">Parameter zum Textbaustein eingeben</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table>
					<tr *ngFor="let v of modalVariables">
						<td class="text-right">{{v.textBefore}}</td>
						<td *ngIf="v.kind === 'oc'">
							<span *ngFor="let vv of v.values">
								<input type="radio" name="{{v.id}}" [value]="vv" [(ngModel)]="v.value" /> {{vv}}
							</span>
						</td>
						<td *ngIf="v.kind === 'mc'">
							<span *ngFor="let vv of v.values">
								<input type="checkbox" name="{{v.id}}" [value]="vv[0]" [(ngModel)]="vv[1]" /> {{vv[0]}}
							</span>
						</td>
						<td *ngIf="v.kind === 'text'">
							<input type="text" [(ngModel)]="v.value" />
						</td>
						<td *ngIf="v.kind === 'number'">
							<input type="number" class="w-100" [(ngModel)]="v.value" />
						</td>
						<td *ngIf="v.kind === 'date'">
							<ngb-datepicker [(ngModel)]="v.value"></ngb-datepicker>
						</td>
						<td *ngIf="v.kind === 'ratio'">
							<input type="number" [(ngModel)]="v.numerator" /> / <input type="number"
								[(ngModel)]="v.denominator" />
						</td>
						<td class="text-left">{{v.textAfter}}</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button (click)="endVariableSelection()" type="button" data-dismiss="modal"
					class="btn btn-primary">Ok</button>
			</div>
		</div>
	</div>
</div>
