<div class="main">



	<div class="headline">


		<button id="normal-button" (click)="makeNormal()" class="btn btn-outline-secondary float-right ">Rest
			normal</button>

		<!-- refreshes Page -->
		<button id="refresh" title="seite neu laden" (click)="refreshPage()"
			class="btn btn-outline-secondary float-right ">refresh</button>
		<!-- submits text in "Befund eingeben", if it is not automatically triggered by input -->
		<button id="submit-button" title="eingabe absenden" (click)="submit()"
			class="btn btn-outline-secondary float-right ">Senden</button>
		<!-- enables inputting text -->
		<button id="los" (click)="init()"
			class="btn btn-outline-secondary float-right ">los</button>
		
		<button id="scroll" (click)="scroll()"
			class="btn btn-outline-secondary float-right ">scroll</button>
		<!-- input "Befund" text here and submits it automatically -->
		<label for="input">Befund eingeben:
			<input id="input" name="Befund" type="text" (input)="submit()" placeholder="Befund eingeben..." size="80">
		</label>
		<input type='file' id="imgUpload" />
		<img src="http://placehold.it/180" id="my_img" />
		<div id="inputText">
			<br>
		</div>
	</div>

	<div class="main-content" id = "main-content">
		<table>
			<tbody>
				<tr *ngFor="let category of parts;let j = index">
					<td class="category" name="test" id="{{category.name}}">{{category.name}}</td>
					<!-- Loads all Options, either Checkboxes or radio Buttons -->
					<ng-container *ngFor="let sel of category.selectables; let k = index" class="col-3">
						<!-- responsible for Checkboxes (not used) -->
						<ng-container *ngIf="sel.kind === 'box'">
							<td class="box"> <input (click)="clicked(sel)" type="checkbox" [(ngModel)]="sel.value"
									id="{{sel.name}}box" />
							</td>
							<td class="title0" id={{sel.name}}> {{sel.name}}
								<br>
								<div class="link" id="{{category.name + sel.name}}"></div>
							</td>
						</ng-container>
						<!-- responsible for radio Buttons -->
						<ng-container *ngIf="sel.kind === 'group'">
							<!-- Radio buttons themselves, when clicked they call makeText and fill in the specific text on the left -->
							<ng-container *ngFor="let option of sel.options; let k = index" class="col-3">
								<td class="box"> <input (click)="clicked(option, sel)" [name]="sel.name "
										id="{{option.name}}box" [value]="option.name" type="radio"
										[(ngModel)]="sel.value" />
								</td>
								<!-- Title of the radio Button -->
								<td class="title0" id={{option.name}}> {{option.name}}
									<br>
									<!-- Adds the optional length Attribute  -->
									<div class="link" id="{{sel.name + option.name}}"></div>
								</td>
							</ng-container>
						</ng-container>
					</ng-container>
				</tr>
			</tbody>

		</table>
	</div>
	<!-- textfield for summary -->
	<div class="befundung-text">
		<textarea placeholder="Wenn Sie hier etwas eingeben, wird es bei der Berichtgenerierung überschrieben"
			id="output1" class="w-100" [(ngModel)]="text"></textarea>
	</div>
	
	<div class="befundung-buttons">
		<!-- copies summary to clipboard -->
		<button id="ready-button" (click)="copyText('output1')"
			class="btn btn-outline-secondary float-left">kopieren</button>
		<!--  -->
		<button id="ready-button" (click)="reverse()"
			class="ml-2 btn btn-outline-secondary float-left">auslesen</button>
	</div>
	<div class="beurteilung-text">
		<textarea placeholder="Wenn Sie hier etwas eingeben, wird es bei der Beurteilungsgenerierung überschrieben"
			id="output2" class="w-100" [(ngModel)]="judgement"></textarea>
	</div>
	<div class="beurteilung-buttons" onload="init()">
		<button id="ready-button" (click)="copyText('output2')"
			class="btn btn-outline-secondary float-right">kopieren</button>
	</div>
</div>

<!-- Dialog to enter the Parameters, can be activated by integrating a button or link that
triggers the modal, for example: <div class="btn btn-info btn-lg" data-toggle="modal" data-target="#variableDialog"> Open Dialog </div> -->

<div class="modal fade" id="variableDialog" tabindex="-1" role="dialog" aria-labelledby="variableDialogLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="variableDialogLabel">Parameter zum Textbaustein eingeben</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table>
					<tr *ngFor="let v of modalVariables">
						<td class="text-right">{{v.textBefore}}</td>
						<td *ngIf="v.kind === 'oc'">
							<span *ngFor="let vv of v.values">
								<input type="radio" name="{{v.id}}" [value]="vv" [(ngModel)]="v.value" /> {{vv}}
							</span>
						</td>
						<td *ngIf="v.kind === 'mc'">
							<span *ngFor="let vv of v.values">
								<input type="checkbox" name="{{v.id}}" [value]="vv[0]" [(ngModel)]="vv[1]" /> {{vv[0]}}
							</span>
						</td>
						<td *ngIf="v.kind === 'text'">
							<input type="text" [(ngModel)]="v.value" />
						</td>
						<td *ngIf="v.kind === 'number'">
							<input type="number" class="w-100" [(ngModel)]="v.value" />
						</td>
						<td *ngIf="v.kind === 'date'">
							<ngb-datepicker [(ngModel)]="v.value"></ngb-datepicker>
						</td>
						<td *ngIf="v.kind === 'ratio'">
							<input type="number" [(ngModel)]="v.numerator" /> / <input type="number"
								[(ngModel)]="v.denominator" />
						</td>
						<td class="text-left">{{v.textAfter}}</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button (click)="endVariableSelection()" type="button" data-dismiss="modal"
					class="btn btn-primary">Ok</button>
			</div>
		</div>
	</div>
</div>