<div mat-dialog-title>
  <h5>Dokument aus Bildern und Freitext generieren</h5>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <label for="imagefile">Bilder hochladen:</label><br>
  <input type="file"
         #imagefile
         (change)="onFilesAdded(imagefile.files,'image')"
         multiple
         id="imagefile"
  />
  <span style="color:red;" *ngIf="message">{{message}}</span>
  <img [src]="imgURL" height="200" *ngIf="imgURL">
</mat-dialog-content>
<mat-dialog-content>
  <label for="textfile">Texte hochladen:</label><br>
  <input type="file"
         #textfile
         (change)="onFilesAdded(textfile.files,'text')"
         multiple
         id="textfile"
  />
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="primary" (click)="submit()">Bestätigen</button>
  <button mat-raised-button (click)="close()">Abbrechen</button>
</mat-dialog-actions>
