nav a {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #eee;
  border-radius: 5px;
  margin-left: 5px;
  display: inline-block;
}

nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
