  <table style="margin: 20px">
    <tbody>
    <tr *ngFor="let row of rows">
          <td *ngIf="layoutId==0" class="category"
              [style.width.%]="10"
              [ngStyle]="{'color': row.optional ? 'grey' : 'black'}" (click)="onSelect(row)">{{row.name.charAt(0) == '1' ? row.name.substring(1) : ""}}</td>
      <ng-container *ngIf="row.name.includes(selectedCat)||layoutId==0">
        <ng-container *ngFor="let sel of row.selectables" class="col-3">
          <ng-container *ngIf="sel.kind === 'box'">
            <td class="box" style="padding-left: 10px;">
              <input type="checkbox" [(ngModel)]="sel.value"
                     (click)="update(sel)" id="{{row.name}} {{sel.name}} box"/>
            </td>
            <td class="title" [style.width.%]="width">
              <label [ngClass]="{'selected': sel.value}"
                     for="{{row.name}} {{sel.name}} box">
                {{sel.name}}
              </label>
            </td>
            <app-variables *ngIf="sel.variables.length > 0"
                           (clickEvent)="updateFromVariable(sel)"
                           [variables]="sel.variables"
                           [parentText]="sel.name"
                           [parentActive]="sel.value" [currentLayout]="layoutId"></app-variables>
          </ng-container>

          <ng-container *ngIf="sel.kind === 'group'">
            <ng-container *ngFor="let option of sel.options">
              <td class="radio box" style="padding-left: 10px">
                <input type="radio"
                       id="{{row.name}} {{sel.name + option.name}} box"
                       (click)="update(sel, option.name)"
                       [name]="sel.name"
                       [value]="option.name"
                       [(ngModel)]="sel.value"/>
              </td>
              <td class="title" [style.width.%]="width">
                <label for="{{row.name}} {{sel.name + option.name}} box"
                       [ngClass]="{'selected': (option.name === sel.value)}">
                  {{option.name}}
                </label>
              </td>
              <app-variables *ngIf="option.variables.length > 0"
                             (clickEvent)="updateFromVariable(option, sel)"
                             [variables]="option.variables"
                             [parentText]="option.name"
                             [parentActive]="option.name === sel.value" [currentLayout]="layoutId"></app-variables>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
    </tbody>
  </table>

