<h3 mat-dialog-title>{{data.parentText}}</h3>

<mat-dialog-content [formGroup]="form">

  {{data['textBefore']}}
  <mat-form-field>
    <div *ngIf="data['kind'] === 'text'">
      <input matInput type="text" class="w-100" formControlName="value">
    </div>
    <div *ngIf="data.kind === 'number'">
      <input matInput type="number" class="w-100" formControlName="value">
    </div>
    <div *ngIf="data.kind === 'date'">
      <input matInput [matDatepicker]="picker" formControlName="value">
      <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div *ngIf="data.kind === 'ratio'">
      <input matInput type="number" class="w-100" formControlName="numerator"/> /
      <input matInput type="number" class="w-100" formControlName="denominator"/>
    </div>
  </mat-form-field>
  {{data['textAfter']}}

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Speichern</button>
  <button class="mat-raised-button" (click)="close()">Schließen</button>
</mat-dialog-actions>
