body {
  text-align: center;
  background: #f2f6f8;}
//.img{position:absolute;z-index:1;}

.columns {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-column-gap: 5px;
  grid-template-areas:
    "button image-container";
}

.imageContainer {
  grid-area: image-container;
  display:inline-block;
  margin: 20px 60px;
  border: 1px solid blue;
}

.insideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.displayCanvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // z-index: 20;
}

.button {
  grid-area: button;
}
