<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="settings">
    <div>
      <label class="mr-3" for="imageFile">Aufnahme(n): </label>
      <input class="mr-3" type="file" id="imageFile" [formControl]="$any(uploadForm).controls['imageFile']"/>
    </div>
    <div>
      <label class="mr-3" for="imageFile">Voraufnahme(n): </label>
      <input class="mr-3" type="file" id="preimageFile" [formControl]="$any(uploadForm).controls['imageFile']"/>
    </div>
    <div>

    </div>

    <div>
      <!--<ng-container *ngFor="let control of uploadForm.controls['pathologies'].controls; index as i">-->
      <ng-container *ngFor="let pathology of pathologies; index as i">
        <label for="checkbox-{{i}}">{{pathology}}</label>
        <input  type="checkbox" id="checkbox-{{i}}">
      </ng-container>
    </div>


    <div>
      <button class="btn btn-primary" type="submit">Hochladen</button>
    </div>

  </div>
</form>
