.files {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-collapse: separate;
  border-spacing: 5px;
}

.header {
  margin-bottom: 10px;
}

.buttons {
  float: right;
  padding: 5px;
}

#cancelButton {
  margin-left: 5px;
}

#UploadButton {
  padding: 3px 10px;
}

.inputField {
  width: 170px;
}

td {
  min-width: 70px;
}

tr {
  padding: 10px;
}
