<div class="row">
  <div class="col-12 mb-2">
    <label for="{{textID}}">Text im Bericht <em>(Variablen Plätze mit %0, %1 ...
        kennzeichnen,
        wobei %0 die als erstes definierte Variable ist, %1 die zweite usw.)</em></label>
    <input class="form-control" type="text" id="{{textID}}" name="{{textID}}" ngModel
      required>
  </div>
  <div class="col-4 mb-2">
    <label for="{{nameID}}">Name des Attributs</label>
    <input class="form-control" type="text" id="{{nameID}}" name="{{nameID}}" ngModel
      required>
  </div>
  <div class="col-4 mb-2">
    <label for="{{judID}}">Beurteilung/Code</label>
    <input class="form-control" type="text" id="{{judID}}" name="{{judID}}" ngModel>
  </div>
  <div class="col-2 mb-2">
    <label for="{{normalID}}">Normal</label>
    <select class="form-control" name="{{normalID}}" id="{{normalID}}" [ngModel]="false" required>
      <option value="true">Ja</option>
      <option value="false">Nein</option>
    </select>
  </div>
  <div class="col-2 mb-2">
    <label for="{{anzvarID}}">Anzahl Variablen</label>
    <select class="form-control" name="{{anzvarID}}" id="{{anzvarID}}"
      [(ngModel)]="myAttAnzVar" (change)="changeAnzVar()" required>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <ng-container *ngIf="mode=='radiologie'">
    <div class="col-6 mb-2">
      <label for="{{zugroupID}}">Zugehörigkeitsgruppe</label>
      <input class="form-control" type="text" id="{{zugroupID}}" name="{{zugroupID}}" ngModel>
    </div>
    <div class="col-6 mb-2">
      <label for="{{augroupID}}">Aufzählungsgruppe</label>
      <input class="form-control" type="text" id="{{augroupID}}" name="{{augroupID}}" ngModel>
    </div>
  </ng-container>
  
</div>
