$border-color: hsl(200, 70%, 80%);
$background-color: hsl(202, 73%, 96%);

.main {
  min-height: 90%;
  height: auto;
  background-color: $background-color;
  border: 1px solid $border-color;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  width: auto;
}

.body, .img,  {
  border: 1px solid $border-color;
  text-align: center;
  font-size: 15pt;
  width: auto;
  max-width: 350px;
  min-width: 200px;
  word-break: break-word;
}

.img {
  padding: 5px;
  vertical-align: middle;
}

.text {
  padding: 5px;
  text-align: center;
}

img {
  cursor: pointer;

}

.meta {
  text-align: left;
  white-space: pre-line;
  padding: 10px;
  font-size: 15pt;
  width: 500px;
}

.metatable {
  border-spacing: 10px;
  border-collapse: separate;
}
.metadata {
  word-break: break-word;
}

.custom-button {
  font-size: 15pt;
  padding: 10px 20px;
  margin: 5px;
}

.row {
  padding: 10px;
  border-bottom: 1px solid $border-color;
}

.wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.add-button {
  padding: 5px 20px;
}
