<div class="main">

  <h4>Aufnahme zum Befunden auswählen</h4>

  <div class="d-flex justify-content-between p-1">
    <div>
      <button *ngIf="isMod" mat-flat-button color="primary" class="m-1"
              id="uploadButton" (click)="openUploadDialog()">Hochladen
      </button>
      <button *ngIf="isAdmin" mat-stroked-button color="primary" class="m-1"
              (click)="updateTemplates()">
        Radiolearn aktualisieren
      </button>
    </div>

    <div>
      <mat-form-field appearance="fill" class="m-1">
        <mat-label>Diagnose-Template</mat-label>
        <mat-select [(ngModel)]="shallowFilter" (ngModelChange)="getCountAndData()">
          <mat-option [value]="undefined">-</mat-option>
          <mat-option *ngFor="let shallowTemplate of shallowTemplates" [value]="shallowTemplate">
            {{shallowTemplate}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="m-1">
        <mat-label>Status</mat-label>
        <mat-select *ngIf="isMod" id="showJudgedToggle" [(ngModel)]="showJudged"
                    (ngModelChange)="getCountAndData()">
          <mat-option [value]="true">Bearbeitet</mat-option>
          <mat-option [value]="false">Unbearbeitet</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="this.materials.length > 0; else noEntry">

    <div class="d-flex justify-content-between">
      <div class="m-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                        [pageSize]="pageSize" (pageChange)="getData()"
                        [maxSize]="5" [rotate]="false" [boundaryLinks]="true">
        </ngb-pagination>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>Ergebnisse pro Seite</mat-label>
          <mat-select [(ngModel)]="pageSize"
                      (ngModelChange)="getCountAndData()">
            <mat-option [value]="5">5</mat-option>
            <mat-option [value]="10">10</mat-option>
            <mat-option [value]="25">25</mat-option>
            <mat-option [value]="50">50</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <table  class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Frontalaufnahme</th>
        <th scope="col">Lateralaufnahme</th>
        <th scope="col">Voraufnahme</th>
        <th *ngIf="(isMod)" scope="col">Meta</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let material of this.materials; let i = index">
        <th scope="row">{{i+1}}</th>
        <td class="img">
          <img *ngIf="material.scans" src="{{imageUrl}}{{material.scans.id}}/{{material.scans.mainScan.filename}}"
               width="300px"
               alt="Fehler beim Laden der Aufnahme"
               loading="lazy"
               (click)="openEditor(material._id)"/> <br>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.lateralScan">
            <img src="{{imageUrl}}{{material.scans.id}}/{{material.scans.lateralScan.filename}}"
                 width="300px"
                 alt="Fehler beim Laden der Aufnahme"
                 loading="lazy"
                 (click)="openEditor(material._id)"/> <br>

            <button mat-flat-button color="primary" class="add-button"
                    (click)="deleteScan(material._id, material.scans.id,
                    'lateralScan', material.scans.lateralScan.filename)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!material.scans.lateralScan">
            <div class="wrapper">
              <button mat-flat-button color="primary" class="add-button"
                      (click)="openAddScanDialog(material._id, material.scans.id, 'lateralScan')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.preScan">
            <img src="{{imageUrl}}{{material.scans.id}}/{{material.scans.preScan.filename}}"
                 width="300px"
                 alt="Fehler beim Laden der Aufnahme"
                 loading="lazy"
                 (click)="openEditor(material._id)"/> <br>
            <button mat-flat-button color="primary" class="add-button"
                    (click)="deleteScan(material._id, material.scans.id,
                    'preScan', material.scans.preScan.filename)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="!material.scans.preScan">
            <div class="wrapper">
              <button mat-flat-button color="primary" class="add-button"
                      (click)="openAddScanDialog(material._id, material.scans.id, 'preScan')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </td>
        <ng-container *ngIf="(isMod)">
          <td class="meta">
            <table class="metatable">
              <tr>
                <td class="metadata">Hochgeladen:</td>
                <td class="metadata">{{displayDate(material.timestamp)}}</td>
              </tr>
              <tr>
                <td class="metadata">Modalität:</td>
                <td class="metadata" *ngIf="material.modality">{{material.modality}}</td>
              </tr>
              <tr>
                <td class="metadata">Dokumentations-Template:</td>
                <td class="metadata" *ngIf="material.deepDocTemplate">{{material.deepDocTemplate.name}}
                  vom {{displayDate(material.deepDocTemplate.timestamp)}}</td>
              </tr>
              <tr>
                <td class="metadata">Diagnose-Template:</td>
                <td class="metadata" *ngIf="material.shallowDocTemplate">{{material.shallowDocTemplate.name}}
                  vom {{displayDate(material.shallowDocTemplate.timestamp)}}</td>
              </tr>
              <tr>
                <td class="metadata">Zuletzt Geändert:</td>
                <td class="metadata" *ngIf="material.lastModified">{{displayDate(material.lastModified)}}</td>
                <td class="metadata" *ngIf="!material.lastModified">-</td>
              </tr>
            </table>
            <button mat-flat-button color="primary" class="custom-button"
                    (click)="openEditor(material._id)">Start Befundung
            </button>
            <button mat-flat-button color="warn" class="custom-button"
                    (click)="delete(material._id, material.scans.id)">Entfernen
            </button>
            <button *ngIf="isAdmin && showJudged" mat-flat-button color="primary" class="custom-button"
                    (click)="updateMatTempBCById(material._id)">Schablone aktualisieren
            </button>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                      [pageSize]="pageSize" (pageChange)="getData()"
                      [maxSize]="5" [rotate]="false" [boundaryLinks]="true">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getData()">
        <option [ngValue]="5">5 Ergebnisse pro Seite</option>
        <option [ngValue]="10">10 Ergebnisse pro Seite</option>
        <option [ngValue]="25">25 Ergebnisse pro Seite</option>
        <option [ngValue]="50">50 Ergebnisse pro Seite</option>
      </select>
    </div>

  </div>
</div>

<ng-template #noEntry>
  <div style="padding: 10px;">
    Keine Einträge gefunden.
  </div>
</ng-template>



