<div class="main">

  <h4>Aufnahme zum Befunden auswählen</h4>

  <div class="row">
    <div class="d-inline-block">
      <button *ngIf="isMod" class="btn btn-outline-primary" style="float: right;"
              id="uploadButton" (click)="openUploadDialog()">Aufnahmen hochladen
      </button>
      <button class="btn btn-primary" style="margin-right: 10px;" (click)="loadRandom()" id="randomButton">Zufall</button>
      <button class="btn btn-outline-primary" style="float: right" (click)="getData()" id="reloadButton">Neu Laden</button>
      <mat-slide-toggle *ngIf="isMod" style="margin: 0 20px" id="showJudgedToggle" [(ngModel)]="showJudged"
                        (ngModelChange)="getCountAndData()">
        Bearbeitete Einträge zeigen
      </mat-slide-toggle>
    </div>
  </div>

  <div *ngIf="this.materials.length > 0; else noEntry">

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                      [pageSize]="pageSize" (pageChange)="getData()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getCountAndData()">
        <option [ngValue]="5">5 Ergebnisse pro Seite</option>
        <option [ngValue]="10">10 Ergebnisse pro Seite</option>
        <option [ngValue]="25">25 Ergebnisse pro Seite</option>
        <option [ngValue]="50">50 Ergebnisse pro Seite</option>
      </select>
    </div>

    <table  class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Frontalaufnahme</th>
        <th scope="col">Lateralaufnahme</th>
        <th scope="col">Voraufnahme</th>
        <th *ngIf="(isMod)" scope="col">Meta</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let material of this.materials; let i = index">
        <th scope="row">{{i+1}}</th>
        <td class="img">
          <img src="{{imageUrl}}{{material.scans.id}}/{{material.scans.mainScan.filename}}"
               width="300px"
               alt="Fehler beim Laden der Aufnahme"
               loading="lazy"
               (click)="openEditor(material._id)"/> <br>
          <div *ngIf="isMod">{{material.scans.mainScan.filename}}</div>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.lateralScan !== undefined && material.scans.lateralScan !== null">
            <img src="{{imageUrl}}{{material.scans.id}}/{{material.scans.lateralScan.filename}}"
                 width="300px"
                 alt="Fehler beim Laden der Aufnahme"
                 loading="lazy"
                 (click)="openEditor(material._id)"/> <br>
            <div *ngIf="isMod">{{material.scans.lateralScan.filename}}</div>
            <button mat-flat-button color="primary" class="add-button"
                    (click)="deleteScan(material._id, material.scans.id,
                    'lateralScan', material.scans.lateralScan.filename)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="material.scans.lateralScan === undefined">
            <div class="wrapper">
              <button mat-flat-button color="primary" class="add-button"
                      (click)="openAddScanDialog(material._id, material.scans.id, 'lateralScan')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </td>
        <td class="img">
          <ng-container *ngIf="material.scans.preScan !== undefined && material.scans.preScan !== null">
            <img src="{{imageUrl}}{{material.scans.id}}/{{material.scans.preScan.filename}}"
                 width="300px"
                 alt="Fehler beim Laden der Aufnahme"
                 loading="lazy"
                 (click)="openEditor(material._id)"/> <br>
            <div *ngIf="isMod">{{material.scans.preScan.filename}}</div>
            <button mat-flat-button color="primary" class="add-button"
                    (click)="deleteScan(material._id, material.scans.id,
                    'preScan', material.scans.preScan.filename)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="material.scans.preScan === undefined">
            <div class="wrapper">
              <button mat-flat-button color="primary" class="add-button"
                      (click)="openAddScanDialog(material._id, material.scans.id, 'preScan')">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </td>
        <ng-container *ngIf="(isMod)">
          <td class="meta">
            <table class="metatable">
              <tr>
                <td class="metadata">Hochgeladen:</td>
                <td class="metadata">{{displayDate(material.timestamp)}}</td>
              </tr>
              <tr>
                <td class="metadata">Modalität:</td>
                <td class="metadata">{{material.modality}}</td>
              </tr>
              <tr>
                <td class="metadata">Template:</td>
                <td class="metadata">{{material.template.name}} vom {{displayDate(material.template.timestamp)}}</td>
              </tr>
            </table>
            <button mat-flat-button color="primary" class="custom-button"
                    (click)="openEditor(material._id)">Start Befundung
            </button>
            <button mat-flat-button color="warn" class="custom-button"
                    (click)="delete(material._id, material.scans.id)">Entfernen
            </button>
            <button *ngIf="showJudged" mat-flat-button color="primary" class="custom-button"
                    (click)="updateMatTempBCById(material._id)">Schablone aktualisieren
            </button>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                      [pageSize]="pageSize" (pageChange)="getData()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getData()">
        <option [ngValue]="5">5 Ergebnisse pro Seite</option>
        <option [ngValue]="10">10 Ergebnisse pro Seite</option>
        <option [ngValue]="25">25 Ergebnisse pro Seite</option>
        <option [ngValue]="50">50 Ergebnisse pro Seite</option>
      </select>
    </div>

  </div>
</div>

<ng-template #noEntry>
  <div style="padding: 10px;">
    Keine Einträge gefunden.
  </div>
</ng-template>



