<div class="main">
  <div class="header">
    <div class="inputArea">
      <label class="inputLabel" for="input">Eingabe:</label>
      <input class="inputBox" id="input" name="Befund" type="text" [(ngModel)]="this.input"
             (input)="onInput($event)" placeholder="Befund eingeben...">
    </div>
    <div class="buttons">
      <a *ngIf="isAdmin" class="btn btn-outline-secondary" title="Download JSON" (click)=generateDownloadJson(parts)
         [href]="downJson" download="befund.json">Download JSON</a>
      <button id="normal-button" (click)="makeNormal()"
              class="btn btn-outline-secondary">Rest normal</button>
      <button id="reset-button" (click)="reset()"
              class="btn btn-outline-secondary">Zurücksetzen</button>
      <button id="back" title="Go back to list" [routerLink]="['/', 'list']"
              class="btn btn-outline-secondary">Zurück</button>
    </div>

    <div class="inputText" id="inputText" >
      {{foundKeywords}}
    </div>
  </div>

  <div class="content" *ngIf="categories">
    <app-report class="report" [report]="report" [judgement]="judgement"></app-report>
    <app-options class="options" (clickEvent)="onClick()" [categories]="categories"></app-options>
  </div>
</div>
