<nav class="navbar navbar-expand-lg navbar-light bg-light"  *ngIf="displayNavbar">
  <a class="navbar-brand" href="#">{{title}}  <fa-icon class="ml-1" [icon]="faUser"></fa-icon></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/upload' >Schablone hochladen<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/list'>Schablonen</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/uploadMat'>Aufnahmen hochladen</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink='/displayMat'>Aufnahmen befunden</a>
      </li>
    </ul>
  </div>
</nav>
